<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:fragment="html_head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'CMS | ' + ${session.serviceName}"></title>

    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-96x96.ico}">
    <link rel="stylesheet" th:href="@{/dist/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/atruvia.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>

    <style>
        .form-container {
            max-width: 420px;
            margin: auto;
        }

        .bg-img-cover {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>

<body class="bg-img-cover" th:style="|background-image: url('@{/img/cms_background.webp}')|">

<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="card form-container shadow">
        <div class="card-body">
            <form th:action="@{/auth/changePassword}" method="post" class="needs-validation" novalidate>
                <img th:src="@{/img/cms_logo.png}" class="card-img mb-3" alt="Logo"/>

                <h1 class="h5 text-center mb-4">Bitte setze ein eigenes Passwort</h1>

                <div th:if="${error != null and !error.isEmpty()}" class="alert alert-danger" th:text="${error}"></div>


                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Neues Passwort" required autocomplete="new-password">
                    <label for="password">Neues Passwort</label>
                </div>

                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
