<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-yellow mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    Aktionen Planer
                                </h1>
                                <div class="page-header-subtitle">Plane deine Aktionen für deine Messdienergruppe.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container px-4">

                <div class="d-flex mb-3">
                    <a class="btn btn-yellow btn-sm flex-fill m-1" th:href="'/planer/create'">Aktion anlegen</a>
                </div>

                <div class="row">
                    <div class="col-xl-4 col-12" th:each="event : ${events}">

                        <a class="card card-icon lift lift-sm mb-4 card-progress shadow-none" th:href="'/planer?q=EVENT&id=' + ${event.planerId}">
                            <div class="card">
                                <img class="card-img card-img-top" th:src="${event.getImgUrl()}">
                                <div class="h5 card-body mb-0"><span th:text="${event.eventName}"
                                                                     class="text-primary"></span><span
                                        th:text="' am ' + ${event.getStartDate().getGermanDate()}"></span>
                                </div>
                                <div class="progress rounded-0">
                                    <div class="bg-orange progress-bar" role="progressbar" style="width: 100%"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>


</html>
<script th:src="@{/script/imports/jquery.min.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>
<div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
</div>
