<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="d-flex flex-column h-100">
<main class="flex-fill d-flex flex-column">
    <header class="page-header page-header-dark bg-primary mb-4">
        <div class="container px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <span class="page-header-icon text-white"><i data-feather="layout"></i></span>
                            <span th:text="'Transaktion / ' + ${transaction.getTitle()}"></span>
                        </h1>
                        <div class="page-header-subtitle">Verwalte die Finanzen deiner Gruppe
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->

    <div class="container px-4 pt-4 flex-fill d-flex flex-column h-100">
        <div class="card">
            <div class="card-body">
                <div class="row flex-fill m-0">
                    <div class="col-xl-3 col-12 border-end">
                        <span class="text-muted" th:text="'Transaktion'"></span><br>
                        <h4 th:text="${transaction.getTitle()}"></h4>
                        <span th:text="${transaction.getDate().getGermanDate()}"></span><br>

                        <button class="btn btn-success mdi mdi-file-plus btn-sm mt-3" data-bs-toggle="modal"
                                th:disabled="!${transaction.getTransactionState().toString().equals('BILL')}"
                                data-bs-target="#bill">Neuer Beleg
                        </button>
                        <button class="btn btn-outline-dark mdi mdi-calendar-plus btn-sm mt-3" data-bs-toggle="modal"
                                data-bs-target="#targetEvent"
                                th:disabled="!${transaction.getTransactionState().toString().equals('CREATED')}"></button>
                        <a class="btn btn-outline-dark mdi mdi-progress-check btn-sm mt-3"
                           th:href="'/transaction/check?id=' + ${transaction.getId()}"></a>

                        <div class="card border-start-lg border-start-primary mt-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <div class="small fw-bold text-primary">Betrag</div>
                                        <div class="h4"
                                             th:text="${financeHelper.getSumm(transaction.getId())} + '€'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-4">
                        <div class="d-flex justify-content-between mb-2">
                            <h4>Stammdaten</h4>
                            <button class="btn btn-outline-dark mdi mdi-account-edit btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#setTarget"
                                    th:disabled="!${transaction.getTransactionState().toString().equals('CREATED')}"></button>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="rounded-circle bg-primary-soft text-primary d-flex align-items-center justify-content-center"
                                         style="width: 40px; height: 40px;">
                                        <i data-feather="user"></i>
                                    </div>
                                    <div>
                                        <small class="text-muted">Name</small>
                                        <h6 href="#" class="fw-bold d-block" th:text="${owner.getName()}"></h6>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="rounded-circle border text-gray-700 d-flex align-items-center justify-content-center"
                                         style="width: 40px; height: 40px;">
                                        <i data-feather="mail"></i>
                                    </div>
                                    <div>
                                        <small class="text-muted">E-Mail</small>
                                        <h6 href="#" class="fw-bold d-block" th:text="${owner.getEmail()}"></h6>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="rounded-circle border text-gray-700 d-flex align-items-center justify-content-center"
                                         style="width: 40px; height: 40px;">
                                        <i data-feather="phone"></i>
                                    </div>
                                    <div>
                                        <small class="text-muted">Telefon</small>
                                        <h6 href="#" class="fw-bold d-block" th:text="${owner.getMobile()}"></h6>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="rounded-circle border text-gray-700 d-flex align-items-center justify-content-center"
                                         style="width: 40px; height: 40px;">
                                        <i data-feather="map-pin"></i>
                                    </div>
                                    <div>
                                        <small class="text-muted">Source</small>
                                        <h5 href="#" class="fw-bold d-block">Workflow</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-9 col-12  d-flex flex-column">
                        <div class="step mb-3 mt-2">
                            <div th:each="st:${transactionStates}"
                                 th:class="${st.value == transaction.transactionState.value} ? 'step-item active' : 'step-item'"
                                 th:if="${st.isActive()}">
                                <a th:class="'step-item-link disabled'" href="#!" th:text="${st.getLabel()}"></a>
                            </div>
                        </div>
                        <hr>
                        <nav class="nav nav-borders d-flex justify-content-center border-bottom">
                            <a th:class="${s} == 1 ? 'nav-link active' : 'nav-link'"
                               th:href="'/finance/transaction?s=1&id=' + ${transaction.getId()}">Stammdaten</a>
                            <a th:class="${s} == 2 ? 'nav-link active' : 'nav-link'"
                               th:href="'/finance/transaction?s=2&id=' + ${transaction.getId()}">Belege</a>
                            <a th:class="${s} == 3 ? 'nav-link active' : 'nav-link'"
                               th:href="'/finance/transaction?s=3&id=' + ${transaction.getId()}">PDF</a>
                            <a th:class="${s} == 4 ? 'nav-link active' : 'nav-link'"
                               th:href="'/finance/transaction?s=4&id=' + ${transaction.getId()}">Notizen</a>
                        </nav>

                        <div th:if="${s} == 1">
                            <h4 class="mt-2">Audit-Log</h4>
                            <div class="mb-3" style="max-height: 800px; overflow-y: scroll;">
                                <!-- Fade In Animation -->
                                <div class="timeline timeline-sm">
                                    <div class="timeline-item" th:each="a:${audit}">
                                        <div class="timeline-item-marker">
                                            <div th:class="'timeline-item-marker-indicator fw-normal ' + ${a.getType().getColor()} + '-soft ' + ${a.getType().getTextColor()}">
                                                <i th:data-feather="${a.getType().getIcon()}"></i></div>
                                        </div>
                                        <div class="timeline-item-content"><span
                                                th:text="${a.getTimestamp().getGermanLongDate()}"></span> von <span
                                                class="text-primary" th:text="${personHelper.getName(a.userId)}"></span>:
                                            <span th:text="${a.title}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${s} == 2" class="flex-fill d-flex">
                            <div class="flex-fill overflow-auto p-1">
                                <table class="table table-sm table-hover">
                                    <thead>
                                    <tr>
                                        <th>Beleg</th>
                                        <th>Nummer</th>
                                        <th>Wert</th>
                                        <th>Datum</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="b:${bills}">
                                        <td>
                                            <a th:href="'/storage/file?id=' + ${b.getId()}"
                                               th:text="${b.getTitle()}"></a>
                                        </td>
                                        <td th:text="${b.getTag()}"></td>
                                        <td th:text="${b.getMeta()} + '€'"></td>
                                        <td th:text="${b.getDate().getGermanDate()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div th:if="${s} == 3" class="flex-fill overflow-auto p-1">
                            <embed name="plugin" th:src="'/storage/file?id=' + ${transaction.getId()}"
                                   type="application/pdf" class="w-100 h-100" th:if="${transaction.getTransactionState().value >= 2}">
                        </div>


                        <div th:if="${s} == 4"
                             class="d-flex flex-column flex-fill p-1"
                             style="height: 100%;">
                            <!-- Textarea wächst und füllt den verfügbaren Raum -->
                            <form method="post" action="/finance/transaction/notes" class="d-flex flex-column flex-fill p-1" style="height: 100%;">
                                <input type="hidden" name="id" th:value="${transaction.getId()}"/>
                                <textarea class="form-control flex-grow-1 mb-2" rows="5" id="comment" name="notes"
                                          style="min-height: 0;" th:text="${transaction.getDescription()}"></textarea>
                                <button
                                        type="submit"
                                        class="btn btn-primary w-100 flex-shrink-0 btn-sm">
                                    Submit
                                </button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:insert="~{fragments :: script}"></div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/js/main.js}"></script>

<form method="post" action="/finance/transaction/target">
    <input type="hidden" name="id" th:value="${transaction.getId()}"/>
    <div class="modal fade" id="setTarget">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Person verknüpfen</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row mb-3 align-items-center">
                        <label for="titel" class="col-sm-2 col-form-label">Person</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="titel" name="user">
                                <option th:each="p:${users}" th:text="${p.getName()}" th:value="${p.getId()}"
                                        th:selected="${p.getId().toString().equals(transaction.getTargetUserId().toString())}"></option>
                            </select>
                        </div>
                    </div>

                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Speichern</button>

                </div>

            </div>
        </div>
    </div>
</form>


<form method="post" action="/finance/transaction/targetEvent">
    <input type="hidden" name="id" th:value="${transaction.getId()}"/>
    <div class="modal fade" id="targetEvent">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Veranstalltung verknüpfen</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row mb-3 align-items-center">
                        <label for="titel2" class="col-sm-2 col-form-label">Event:</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="titel2" name="user">
                                <option th:each="e:${events}"
                                        th:text="${e.getTitle() + ' ' + e.getStartDate().getGermanDate()}"
                                        th:value="${e.getEventId()}"
                                        th:selected="${e.getEventId().toString().equals(transaction.getTargetUserId().toString())}"></option>
                            </select>
                        </div>
                    </div>

                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Speichern</button>

                </div>

            </div>
        </div>
    </div>
</form>

<form method="post" action="/finance/transaction/bill" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${transaction.getId()}"/>
    <div class="modal fade" id="bill">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Beleg hinzufügen verknüpfen</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row mb-3 align-items-center">
                        <label for="title3" class="col-sm-2 col-form-label">Titel</label>
                        <div class="col-sm-10">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="title3"
                                    name="title"
                                    required/>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="date" class="col-sm-2 col-form-label">Datum</label>
                        <div class="col-sm-10">
                            <input
                                    type="date"
                                    class="form-control"
                                    id="date"
                                    name="date"
                                    required/>
                        </div>
                    </div>

                    <!-- Betrag (EUR) -->
                    <div class="row mb-3 align-items-center">
                        <label for="amount" class="col-sm-2 col-form-label">Betrag (€)</label>
                        <div class="col-sm-10">
                            <input
                                    type="number"
                                    class="form-control"
                                    id="amount"
                                    name="amount"
                                    step="0.01"
                                    required/>
                        </div>
                    </div>

                    <!-- Beleg-Datei -->
                    <div class="row mb-3 align-items-center">
                        <label for="receipt" class="col-sm-2 col-form-label">Beleg (PNG, JPG, PDF) <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input
                                    type="file"
                                    class="form-control"
                                    id="receipt"
                                    name="receipt"
                                    accept=".pdf,.png,.jpg,.jpeg"
                                    required/>
                        </div>
                    </div>

                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Speichern</button>

                </div>

            </div>
        </div>
    </div>
</form>


</body>
</html>
