<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="users"></i></div>
                                    Personal
                                    <span class="mdi mdi-arrow-right"></span>
                                    <span class="mdi mdi-share-variant-outline text-orange"></span>
                                    <span>Connections</span>
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->


            <div class="container px-4">
                <nav class="nav nav-borders d-flex justify-content-center">
                    <a class="nav-link" th:href="'/personal?q=profil&s=1&id=' + ${person.getId()}">Stammdaten</a>
                    <a class="nav-link active ms-0 " th:href="'/personal?q=profil&s=2&id=' + ${person.getId()}">Connections</a>
                    <a class="nav-link" th:href="'/personal?q=profil&s=3&id=' + ${person.getId()}">Gottesdienste</a>
                    <a class="nav-link" th:href="'/personal?q=profil&s=5&id=' + ${person.getId()}">Dateien</a>
                    <a class="nav-link" th:href="'/personal?q=profil&s=6&id=' + ${person.getId()}">Benutzer</a>
                    <a class="nav-link" th:href="'/personal?q=profil&s=7&id=' + ${person.getId()}">Workflows</a>
                </nav>
                <hr class="mt-0 mb-4"/>

                <!-- Icon Card Example -->
                <div class="card card-icon mb-4">
                    <div class="row no-gutters">
                        <div class="col-auto card-icon-aside">
                            <img class="img-account-profile rounded-circle m-4"
                                 th:src="${person.getImgAdress()}" alt=""
                                 style="max-width: 80px; max-height: 80px">
                        </div>
                        <div class="col">
                            <div class="card-body h-100 p-0">
                                <div class="d-flex align-items-center h-100">
                                    <div class=" p-3">
                                        <div class="d-flex align-items-center">
                                            <h1 style="line-height: 0!important;"
                                                th:text="${person.getReadName()}"></h1>
                                            <span style="margin-right: 10px"></span>
                                            <h2 class="badge rounded-pill bg-success" th:if="${person.isActive()}">
                                                Aktiv</h2>
                                            <h2 class="badge rounded-pill bg-danger" th:unless="${person.isActive()}">
                                                Nicht Aktiv</h2>
                                        </div>

                                        <div class="d-flex align-items-center p-0">
                                        <span class="mdi mdi-bag-suitcase "> <span
                                                th:text="${person.getType()}"></span></span>
                                            <span style="margin-right: 10px"></span>
                                            <span class="mdi mdi-account-group "> <span
                                                    th:text="${person.getTenant().getName()}"></span></span>
                                        </div>

                                        <p th:unless="${person.isActive()}" th:text="${person.getActivityNote()}"
                                           class="text-danger"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card card-header-actions">
                    <div class="card-header">
                        Connections
                        <a class="btn btn-sm btn-light text-primary" href="javascript:void(0);"
                           data-bs-toggle="modal" data-bs-target="#create">
                            <i class="me-1" data-feather="edit"></i>
                            Hinzufügen
                        </a>
                    </div>

                    <div class="card-body text-center" id="load">
                                <span class="spinner-border card-img"
                                      style="min-height: 200px; min-width: 200px;"></span>
                    </div>
                    <div class="card-body d-none" id="content" style="overflow-y: scroll">

                        <table id="table_id2" class="display" style="min-width:100%; max-width: 100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Typ</th>
                                <th>Personen-Typ</th>
                                <th>Handy-Nr.</th>
                                <th>Festnetz</th>
                                <th>Mail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c:${person.getPersonConnections()}">
                                <td>
                                    <a class="d-flex align-items-center"
                                       th:href="'/personal?q=profil&s=1&id=' + ${c.getSubPerson().getId()}">
                                        <div class="avatar avatar-sm me-3 bg-gray-200"><img
                                                class="avatar-img img-fluid"
                                                th:src="${c.getSubPerson().getImgAdress()}"
                                                alt=""/></div>
                                        <span th:text="${c.getSubPerson().getLastname() + ', ' + c.getSubPerson().getFirstname()}"></span>
                                    </a>
                                </td>
                                <td th:text="${c.getSubPerson().getType()}"></td>
                                <td th:text="${c.getConnectionType().getName()}"></td>
                                <td th:text="${c.getSubPerson().getMobile()}"></td>
                                <td th:text="${c.getSubPerson().getPhone()}"></td>
                                <td th:text="${c.getSubPerson().getEmail()}"></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>


            </div>

        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>


<!-- The Modal -->
<div class="modal fade" id="create">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <form method="post" action="/personal/connection/create">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="text-center">

                        <script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
                        <lord-icon
                                src="https://cdn.lordicon.com/xzksbhzh.json"
                                trigger="loop"
                                delay="2000"
                                style="width:100px;height:100px">
                        </lord-icon>
                        <h4>Connection anlegen</h4>
                        <h6>Hier kannst du eine neue Verbindung anlegen. </h6>

                    </div>

                    <div class="m-2">
                        <div class="row mb-1">

                            <div class="col">

                                <div class="form-floating">
                                    <select class="form-select" id="sel1" name="sub">
                                        <option th:each="p:${persons}" th:value="${p.getId()}" th:text="${p.getReadName()}"></option>
                                    </select>
                                    <label for="sel1" class="form-label">Person:</label>
                                </div>

                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select" id="t" name="type">
                                        <option th:each="t:${types}" th:value="${t}" th:text="${t.getName()}"></option>
                                    </select>
                                    <label for="t" class="form-label">Verbindung:</label>
                                </div>

                            </div>

                        </div>
                    </div>
                    <input class="d-none invisible" th:value="${person.getId()}" readonly name="host">
                    <div class="d-flex">

                        <button type="button" class="btn btn-secondary btn-block flex-fill m-1" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button type="submit" class="btn btn-success btn-block flex-fill m-1">Speichern</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</html>
<script th:src="@{/script/imports/jquery.min.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>

<script>
    $(document).ready(function () {
        $('#table_id2').DataTable({
            language: {
                "decimal": ",",
                "thousands": ".",
                "infoPostFix": "",
                "infoFiltered": "(gefiltert aus insgesamt _MAX_ Einträgen)",
                "loadingRecords": "Bitte warten Sie - Daten werden geladen ...",
                "lengthMenu": "Anzeigen von _MENU_ Einträgen",
                "paginate": {
                    "first": "Erste",
                    "last": "Letzte",
                    "next": "Nächste",
                    "previous": "Zurück"
                },
                "processing": "Verarbeitung läuft ...",
                "search": "Suche:",
                "searchPlaceholder": "Suchbegriff",
                "zeroRecords": "Keine Daten! Bitte ändern Sie Ihren Suchbegriff.",
                "emptyTable": "Keine Einträge zum Anzeigen vorhanden",
                "aria": {
                    "sortAscending": ": aktivieren, um Spalte aufsteigend zu sortieren",
                    "sortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
                },
                "info": "Zeigt _START_ bis _END_  von _TOTAL_ Einträgen",
                "infoEmpty": "Keine Einträge zum Anzeigen vorhanden",
                "select": {
                    "rows": {
                        _: '%d Zeilen ausgewählt',
                        0: 'Zeile anklicken um auszuwählen',
                        1: 'Eine Zeile ausgewählt'
                    }
                }
            },  search: false,
        });
        setTimeout(function () {
            document.getElementById("content").classList.remove("d-none");
            document.getElementById("load").classList.add("d-none");
        }, 10);
    });
</script>
