<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments :: sidebar}" id="layoutSidenav_nav"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-yellow mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title" th:text="'Termine / ' + ${event.getTitle()}">
                                </h1>
                                <div class="page-header-subtitle">Plane deine Aktionen für deine Messdienergruppe.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid mt-4">
                <div th:replace="~{calendar/fragments/eventFragments :: eventNav(${s}, ${event})}"></div>

                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center gap-3">
                                        <!-- Icon -->
                                        <div class="bg-success-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 40px; height: 40px;">
                                            <i data-feather="framer" class="text-success fs-4"></i>
                                        </div>

                                        <h5 class="mb-1 fw-semibold">Sonstiges</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                    <tr>
                                        <td>System-Id</td>
                                        <td th:text="'AK-'+${event.getNumber()}"></td>
                                    </tr>

                                    <tr>
                                        <td>Melde Datum</td>
                                        <td th:text="${event.getCreationDate().getGermanTime()}"></td>
                                    </tr>

                                    <tr>
                                        <td>Status</td>
                                        <td th:text="${event.getState().getLabel()}"
                                            th:class="${event.getState().getTextColor()}"></td>
                                    </tr>

                                    <tr>
                                        <td>Wiedervorlage</td>
                                        <td>
                                                <span th:unless="${event.getResubmission().getGermanDate().equals('01.01.1970')}"
                                                      th:text="${event.getResubmission().getGermanDate()}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Aktueller Bearbeiter</td>
                                        <td th:text="${name1}"></td>
                                    </tr>

                                    <tr>
                                        <td>Erstellt von</td>
                                        <td th:text="${name2}"></td>
                                    </tr>

                                    <tr>
                                        <td>Verantwortliche Person</td>
                                        <td th:text="${name3}"></td>
                                    </tr>

                                    <tr>
                                        <td>PV Beauftragte*r</td>
                                        <td th:text="${name4}"></td>
                                    </tr>
                                    <tr>
                                        <td>Start-Datum</td>
                                        <td th:text="${event.getStartDate().getGermanTime()}"></td>
                                    </tr>

                                    <tr>
                                        <td>Enddatum</td>
                                        <td th:text="${event.getEndDate().getGermanTime()}"></td>
                                    </tr>

                                    <tr>
                                        <td>Anmeldeschluss</td>
                                        <td th:text="${event.getDeadline().getGermanDate()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Ort</td>
                                        <td th:text="${event.getLocation()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Angemeldete Personen</td>
                                        <td>
                                            xx
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Beschreibungen</td>
                                        <td>
                                            x
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Abstimmung mit PRT</td>
                                        <td>
                                            Ausstehend
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Risiko-Index</td>
                                        <td th:text="${event.getRiskIndex()}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-3">
                                                <!-- Icon -->
                                                <div class="bg-success-soft rounded-3 d-flex align-items-center justify-content-center"
                                                     style="width: 40px; height: 40px;">
                                                    <i data-feather="framer" class="text-success fs-4"></i>
                                                </div>

                                                <h5 class="mb-1 fw-semibold">Sonstiges</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center gap-3">
                                                <!-- Icon -->
                                                <div class="bg-success-soft rounded-3 d-flex align-items-center justify-content-center"
                                                     style="width: 40px; height: 40px;">
                                                    <i data-feather="framer" class="text-success fs-4"></i>
                                                </div>

                                                <h5 class="mb-1 fw-semibold">Sonstiges</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center gap-3">
                                        <!-- Icon -->
                                        <div class="bg-success-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 40px; height: 40px;">
                                            <i data-feather="framer" class="text-success fs-4"></i>
                                        </div>

                                        <h5 class="mb-1 fw-semibold">Sonstiges</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>
</html>
<script th:src="@{/js/jquery.min.js}"></script>
