<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments :: sidebar}" id="layoutSidenav_nav"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-yellow mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title" th:text="'Termine / ' + ${event.getTitle()}">
                                </h1>
                                <div class="page-header-subtitle">Plane deine Aktionen für deine Messdienergruppe.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid px-4 mt-4">

                <div th:replace="~{calendar/fragments/eventFragments :: eventNav(${s}, ${event})}"></div>

                <form th:action="@{/event/edit/notes}" th:method="post">
                    <input type="hidden" name="id" th:value="${event.getEventId()}">
                    <div class="card card-limit-height h-100">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-start gap-3">
                                    <!-- Icon -->
                                    <div class="bg-primary-soft rounded-3 d-flex align-items-center justify-content-center"
                                         style="width: 48px; height: 48px;">
                                        <i data-feather="file" class="text-primary fs-4"></i>
                                    </div>

                                    <!-- Text content -->
                                    <div>
                                        <h5 class="mb-1 fw-semibold" th:text="${event.getTitle()} + ' / Notizen'"></h5>
                                        <div class="d-flex flex-wrap gap-3 small text-muted">
                                            <div><span
                                                    th:class="'badge ' + ${event.getState().getColors()}"
                                                    th:text="${event.getState().getLabel()}"></span></div>
                                            <div><span class="mdi mdi-circle text-green"></span> Letztes Update:
                                                10.04.2025
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-yellow btn-sm mdi mdi-file-sync" type="submit"></button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body clamp-description">
                            <input type="hidden" name="id" th:value="${event.eventId}"/>
                            <textarea class="form-control mb-3" id="comment" name="content" rows="3"
                                      placeholder="Beschreibung der Aktion" th:text="${event.getNotes()}"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>

</html>
<script th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdn.tiny.cloud/1/cffl90sfi2w6v9p7qf819uqgaookf9q7jqhf5e83m8g0rbb5/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea', // Wähle das Textarea-Element aus
        plugins: 'advlist autolink lists link image charmap preview anchor table',
        toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image table',
        menubar: false, // Menüleiste deaktivieren (optional)
        branding: false, // "Powered by TinyMCE" ausblenden (nur in Free-Version anpassbar)
        height: 600, // Editor-Höhe einstellen
        image_uploadtab: false, // Falls keine Bilder hochgeladen werden sollen
        content_style: 'body { font-family: Arial, sans-serif; font-size: 14px; }'
    });
</script>
