<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments :: sidebar}" id="layoutSidenav_nav"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-yellow mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title" th:text="'Termine / ' + ${event.getTitle()}">
                                </h1>
                                <div class="page-header-subtitle">Plane deine Aktionen für deine Messdienergruppe.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <form th:action="@{/event/edit}" th:method="post">
                <input type="hidden" name="id" th:value="${event.getEventId()}">
                <div class="container-fluid px-4 mt-4">

                    <div th:replace="~{calendar/fragments/eventFragments :: eventNav(${s}, ${event})}"></div>

                    <div class="card card-limit-height h-100 mb-4">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-start gap-3">
                                    <!-- Icon -->
                                    <div class="bg-success-soft rounded-3 d-flex align-items-center justify-content-center"
                                         style="width: 48px; height: 48px;">
                                        <i data-feather="framer" class="text-success fs-4"></i>
                                    </div>

                                    <!-- Text content -->
                                    <div>
                                        <h5 class="mb-1 fw-semibold" th:text="${event.getTitle()}"></h5>
                                        <div class="d-flex flex-wrap gap-3 small text-muted">
                                            <div><span
                                                    th:class="'badge ' + ${event.getState().getColors()}"
                                                    th:text="${event.getState().getLabel()}"></span></div>
                                            <div><span class="mdi mdi-circle text-green"></span> Letztes Update:
                                                10.04.2025
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-yellow btn-sm mdi mdi-table-edit" data-bs-toggle="modal"
                                            data-bs-target="#zi"></button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body clamp-description">

                            <div class="row">
                                <div class="col-xl-9">
                                    <div class="row">
                                        <div class="col-xl-3">
                                            <span class="fw-bold disabled">Aktionsinformationen</span>
                                            <div class="table-responsive table-responsive-sm">
                                                <table class="table table-sm table-borderless">
                                                    <tbody>
                                                    <tr>
                                                        <td>System-Id</td>
                                                        <td th:text="'AK-'+${event.getNumber()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Melde Datum</td>
                                                        <td th:text="${event.getCreationDate().getGermanTime()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Status</td>
                                                        <td th:text="${event.getState().getLabel()}"
                                                            th:class="${event.getState().getTextColor()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Wiedervorlage</td>
                                                        <td>
                                                <span th:unless="${event.getResubmission().getGermanDate().equals('01.01.1970')}"
                                                      th:text="${event.getResubmission().getGermanDate()}"></span>
                                                        </td>
                                                    </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xl-3">
                                            <span class="fw-bold disabled">Ansprechpersonen</span>
                                            <div class="table-responsive table-responsive-sm">
                                                <table class="table table-sm table-borderless">
                                                    <tbody>
                                                    <tr>
                                                        <td>Aktueller Bearbeiter</td>
                                                        <td th:text="${name1}"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Erstellt von</td>
                                                        <td th:text="${name2}"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Verantwortliche Person</td>
                                                        <td>
                                                            <a href="#" th:text="${name3}"></a>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>PV Beauftragte*r</td>
                                                        <td>
                                                            <a href="#" th:text="${name4}"></a>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="col-xl-3">
                                            <span class="fw-bold disabled">Sonstiges</span>
                                            <div class="table-responsive table-responsive-sm">
                                                <table class="table table-sm table-borderless">
                                                    <tbody>
                                                    <tr>
                                                        <td>Angemeldete Personen</td>
                                                        <td>
                                                            xx
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>Aufgaben</td>
                                                        <td th:text="${tasks.size()}"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Abstimmung mit PRT</td>
                                                        <td>
                                                            Ausstehend
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Risiko-Index</td>
                                                        <td th:text="${event.getRiskIndex()}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row align-items-center">
                                        <label for="titel" class="col-sm-1 col-form-label">Titel</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control form-control-sm" id="titel"
                                                   name="titel"
                                                   required
                                                   th:value="${event.getTitle()}">
                                        </div>
                                    </div>

                                    <div class="row mb-3 align-items-start">
                                        <label for="beschreibung" class="col-sm-1 col-form-label">Beschreibung</label>
                                        <div class="col-sm-11">
                            <textarea class="form-control form-control-sm" id="beschreibung" name="beschreibung"
                                      rows="8"
                                      th:text="${event.getDescription()}"></textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3 align-items-start">
                                        <label for="beschreibung" class="col-sm-1 col-form-label">Titelbild</label>
                                        <div class="col-sm-11">
                                            <a data-bs-toggle="modal" data-bs-target="#img">
                                                <img th:src="${event.getImgUrl()}" alt="..."
                                                     class="card-img img-fluid w-25 h-25"
                                                     th:unless="${event.getImgUrl().isEmpty()}">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row align-items-center">
                                        <label for="eventType" class="col-sm-1 col-form-label">Event Type</label>
                                        <div class="col-sm-11">
                                            <select class="form-select form-select-sm" id="eventType" name="eventType">
                                                <option th:each="t:${types}" th:text="${t.label}" th:value="${t}"
                                                        th:selected="${t.name() == event.getType().name()}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row align-items-center">
                                        <label for="eventState" class="col-sm-1 col-form-label">Event Status</label>
                                        <div class="col-sm-11">
                                            <select class="form-select form-select-sm" id="eventState"
                                                    name="eventState">
                                                <option th:each="s:${states}" th:text="${s.label}" th:value="${s}"
                                                        th:selected="${s.name() == event.getState().name()}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row align-items-center">
                                        <label for="targetgroup" class="col-sm-1 col-form-label">Zielgruppe</label>
                                        <div class="col-sm-11">
                                            <select class="form-select form-select-sm" id="targetgroup"
                                                    name="targetgroup">
                                                <option value="1" th:selected="${event.getTargetGroup().equals('1')}">
                                                    Messdiener
                                                    der
                                                    eigenen Ortsgruppe
                                                </option>
                                                <option value="2" th:selected="${event.getTargetGroup().equals('2')}">
                                                    Messdiener
                                                    der
                                                    eigenen Ortsgruppe + 1
                                                </option>
                                                <option value="3" th:selected="${event.getTargetGroup().equals('3')}">
                                                    Messdiener
                                                    der
                                                    Pfarrei / Leitung der Ortsgruppe
                                                </option>
                                                <option value="4" th:selected="${event.getTargetGroup().equals('4')}">
                                                    Messdiener
                                                    der
                                                    Pfarrei
                                                </option>
                                                <option value="5" th:selected="${event.getTargetGroup().equals('5')}">
                                                    Offen für
                                                    alle
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <h5>Timeline</h5>
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start gap-3">
                                                    <!-- Icon-Kachel -->
                                                    <div class="bg-primary-soft rounded-3 d-flex align-items-center justify-content-center"
                                                         style="width:40px;height:40px;">
                                                        <i data-feather="calendar" class="text-primary fs-4"></i>
                                                    </div>

                                                    <!-- Text -->
                                                    <div>
                                                        <h6 class="mb-1 fw-semibold">Anmeldeschluss</h6>
                                                        <div class="d-flex flex-wrap gap-3 small text-muted">
                                                            <span th:text="${event.getDeadline().getGermanDate()}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- Item 1 -->
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start gap-3">
                                                    <!-- Icon-Kachel -->
                                                    <div class="bg-green-soft rounded-3 d-flex align-items-center justify-content-center"
                                                         style="width:40px;height:40px;">
                                                        <i data-feather="flag" class="text-green fs-4"></i>
                                                    </div>

                                                    <!-- Text -->
                                                    <div>
                                                        <h6 class="mb-1 fw-semibold">Start</h6>
                                                        <div class="d-flex flex-wrap gap-3 small text-muted">
                                                            <span th:text="${event.getStartDate().getGermanTime() + ' Uhr'}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start gap-3">
                                                    <!-- Icon-Kachel -->
                                                    <div class="bg-red-soft rounded-3 d-flex align-items-center justify-content-center"
                                                         style="width:40px;height:40px;">
                                                        <i data-feather="x-octagon" class="text-red fs-4"></i>
                                                    </div>

                                                    <!-- Text -->
                                                    <div>
                                                        <h6 class="mb-1 fw-semibold">Ende</h6>
                                                        <div class="d-flex flex-wrap gap-3 small text-muted">
                                                            <span th:text="${event.getEndDate().getGermanTime()} + ' Uhr'"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                    <hr class="mt-3 mb-3">

                                    <h5>Meldungen</h5>
                                    <ul class="list-group list-group-flush">

                                        <!-- Item 1 -->
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start gap-3">
                                                    <!-- Icon-Kachel -->
                                                    <div class="bg-primary-soft rounded-3 d-flex align-items-center justify-content-center"
                                                         style="width:40px;height:40px;">
                                                        <i data-feather="flag" class="text-primary fs-4"></i>
                                                    </div>

                                                    <!-- Text -->
                                                    <div>
                                                        <h6 class="mb-1 fw-semibold">Start-Datum</h6>
                                                        <div class="d-flex flex-wrap gap-3 small text-muted">
                                                            <span class="badge bg-primary-soft text-primary">Announcement</span>
                                                            <span>Last update: 10 Jun 2024</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Action-Button -->
                                                <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                                        data-bs-target="#bookFair">
                                                    <i data-feather="edit-3"></i>
                                                </button>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-start gap-3">
                                                    <!-- Icon-Kachel -->
                                                    <div class="bg-primary-soft rounded-3 d-flex align-items-center justify-content-center"
                                                         style="width:40px;height:40px;">
                                                        <i data-feather="book-open" class="text-primary fs-4"></i>
                                                    </div>

                                                    <!-- Text -->
                                                    <div>
                                                        <h6 class="mb-1 fw-semibold">Book Fair Event</h6>
                                                        <div class="d-flex flex-wrap gap-3 small text-muted">
                                                            <span class="badge bg-primary-soft text-primary">Announcement</span>
                                                            <span>Last update: 10 Jun 2024</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Action-Button -->
                                                <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                                                        data-bs-target="#bookFair">
                                                    <i data-feather="edit-3"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex gap-3 ">
                                <button type="submit" class="btn btn-yellow btn-sm btn-block flex-fill">Speichern
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>
<div class="modal fade" id="img">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Bild definieren</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Name</th>
                        <th>Erstellt von</th>
                        <th>Bild</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="file : ${files}" th:if="${imgUtils.isImageFile(file.getTitle())}">
                        <td th:text="${file.getTag()}"></td>
                        <td>
                            <a th:href="'/event/img?event=' + ${event.getEventId()} + '&img=' + ${file.getId()}"
                               th:text="${file.getTitle()}">
                            </a>
                        </td>
                        <td th:text="${personHelper.getName(file.getOwner())}"></td>
                        <td>
                            <img alt="..." th:src="'/file?id=' + ${file.getId()}" class="img-fluid"
                                 style="max-height: 50px">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</html>
<script th:src="@{/js/jquery.min.js}"></script>
