<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments :: sidebar}" id="layoutSidenav_nav"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-yellow mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">Ausgaben</h1>
                                <div class="page-header-subtitle">Organisation der Ausgaben, Planung des Bugdet,
                                    Einreichung der Abrechnung.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid px-4 mt-4">
                <style>
                    .card-body.clamp-description {
                        overflow: scroll;
                        display: -webkit-box;
                        -webkit-line-clamp: 6; /* z.B. max. 6 Zeilen */
                        -webkit-box-orient: vertical;
                    }

                    .card-limit-height {
                        min-height: 400px;
                    }

                    .row.d-flex {
                        align-items: stretch;
                    }
                </style>
                <div class="row d-flex align-items-stretch">
                    <div class="col-xl-8 col-12 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-success-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="file" class="text-success fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold"
                                                th:text="${event.getEventName()} + ' / ' + ${task.getTaskName()}"></h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div><span class="badge bg-success"
                                                           th:text="${task.getTaskState().getLabel()}"></span></div>
                                                <div><span class="mdi mdi-circle text-green"></span> <span
                                                        th:text="'Letztes Update: ' + ${task.getUpdated().getGermanDate()}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary btn-sm mdi mdi-arrow-left"
                                           th:href="'/planer?q=EVENT&id=' + ${event.getPlanerId()}"></a>
                                        <button class="btn btn-primary btn-sm mdi mdi-cash-plus" data-bs-toggle="modal"
                                                data-bs-target="#create"></button>
                                        <a class="btn btn-primary btn-sm mdi mdi-check-all"
                                           th:href="'/planer/task/check?lable=BUDGET&planerId=' + ${event.getPlanerId()} + '&taskId=' + ${task.getTaskId()}"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body clamp-description">
                                <span></span>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Bezeichnung</th>
                                            <th>Beschreibung</th>
                                            <th>Person</th>
                                            <th>Datum</th>
                                            <th>Betrag</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="t : ${transactions}">
                                            <td>
                                                <a th:href="'/finance?q=info&id=' + ${t.getId()}"
                                                   th:text="${t.getDescription()}"></a>
                                            </td>
                                            <td th:text="${t.getNote()}"></td>
                                            <td th:text="${t.getCreatorUser().getName()}"></td>
                                            <td th:text="${t.getDocumentDate().getGermanDate()}"></td>
                                            <td th:text="${t.getValueString()}"></td>
                                        </tr>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-12 mb-4">
                        <div class="card h-100" id="reference-card">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-info-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="info" class="text-info fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Zusatzinformationen</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                Füge weitere Informationen hinzu
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="table-responsive">
                                    <table class="table text-nowrap align-middle">
                                        <tbody>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="file" class="me-2"></i> Task ID
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td th:text="'PTK - ' + ${task.getTaskNumber()}"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="users" class="me-2 text-danger"></i> Bearbeiter
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                        <span th:each="p:${task.getEditors()}" class="avatar avatar-sm rounded-circle me-1" data-bs-toggle="tooltip"
                                              th:title="${p.getName()}">
                                            <img th:src="${p.getImgAdress()}" alt="img"
                                                 class="img-fluid rounded-circle">
                                        </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="check-circle" class="me-2 text-info"></i> Status
                                    </span>
                                            </td>
                                            <td>:</td>

                                            <td><span class="d-flex"><span
                                                    class="badge bg-info-soft text-info flex-fill"
                                                    th:text="${task.getTaskState().getLabel()}"></span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="calendar" class="me-2 text-primary"></i> Letztes Update
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td th:text="${task.getUpdated().getGermanDate()}"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="alert-circle" class="me-2 text-warning"></i> Priorität
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td><span class="d-flex"><span
                                                    class="badge bg-secondary-soft text-secondary flex-fill"
                                                    th:text="${task.getPriority().getLabel()}"></span></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-stretch mb-3">
                    <!-- Project Documents -->
                    <div class="col-xl-4 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-red-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="folder" class="text-red fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Dateien</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div>10 Uploads</div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mdi mdi-plus">Datei</button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="max-height: 300px; overflow-y: scroll;">
                                <ul class="list-group list-group-flush">
                                    <!-- Example List Item -->
                                    <!-- Weitere List Items kannst du nach dem gleichen Muster ergänzen -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-purple-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="zap" class="text-purple fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Bearbeiten</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div>Verwalte die Planung</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0" style="max-height: 300px; overflow-y: scroll;">

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 mb-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-primary-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="inbox" class="text-primary fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Meldungen</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div>10 Meldungen</div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mdi mdi-plus">Meldung</button>
                                </div>
                            </div>
                            <div class="card-body pt-3" style="max-height: 300px; overflow-y: scroll;">


                                <!-- Fade In Animation -->
                                <div class="timeline timeline-sm">
                                    <!-- Timeline Item 1-->
                                    <div class="timeline-item" th:each="log : ${event.getLogs('BUDGET')}">
                                        <div class="timeline-item-marker">
                                            <div th:class="'timeline-item-marker-indicator ' + ${log.getLogType().getColor()}"></div>
                                        </div>
                                        <div class="timeline-item-content">
                                            <span th:text="'[' +${log.getDate().getGermanTime()} + '] ' + ${log.getHeadline()} + ': ' + ${log.getLogText()}"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>
<!-- The Modal -->
<form th:method="post" th:action="@{/finance/save}" enctype="multipart/form-data">
    <input th:type="hidden" name="planerId" th:value="${event.getPlanerId()}"/>
    <input type="hidden" name="taskId" th:value="${task.getTaskId()}">
    <div class="modal fade" id="create">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Buchung anlegen</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-2 d-flex">
                                <input type="radio" class="btn-check" name="documentType" id="documentType1" required
                                       autocomplete="EXPENSE" value="EXPENSE">
                                <label class="btn btn-outline-primary flex-fill m-1 mdi mdi-arrow-right"
                                       for="documentType1">Ausgabe</label>

                                <input type="radio" class="btn-check" name="documentType" id="documentType2"
                                       autocomplete="REVENUE" value="REVENUE">
                                <label class="btn btn-outline-primary flex-fill m-1 mdi mdi-arrow-left"
                                       for="documentType2">Einnahme</label>

                                <input type="radio" class="btn-check" name="documentType" id="documentType3"
                                       autocomplete="REVENUE" value="EXCHANGE">
                                <label class="btn btn-outline-primary flex-fill m-1 mdi mdi-transfer"
                                       for="documentType3">Transfer</label>
                            </div>

                            <div class="form-floating mb-2">
                                <select class="form-select" id="type" name="type" required>
                                    <option></option>
                                    <option value="CASH">Barkasse</option>
                                    <option value="ACCOUNT">Konto</option>
                                </select>
                                <label for="type" class="form-label">Konto:</label>
                            </div>

                            <div class="form-floating mb-2 mt-3">
                                <input type="text" class="form-control" id="description" placeholder="Enter email"
                                       name="description" required>
                                <label for="description">Buchungstext</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="value" placeholder="" name="value"
                                       pattern="\d+\.\d{2}" title="Bitte gebe den Betrag getrennt durch einen Punkt an."
                                       required>
                                <label for="value">Betrag</label>
                            </div>

                            <div class="form-floating mb-3 mt-3">
                                <input type="date" class="form-control" id="date" placeholder="Enter email" name="date"
                                       required>
                                <label for="date">Buchungsdatum</label>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="mb-2 d-flex">
                                <input type="radio" class="btn-check" name="costCenter" id="costCenterX1" required
                                       autocomplete="EXPENSE" value="Teamer">
                                <label class="btn btn-outline-primary flex-fill m-1" for="costCenterX1">Teamer</label>

                                <input type="radio" class="btn-check" name="costCenter" id="costCenterX2"
                                       autocomplete="REVENUE" value="Aktionen">
                                <label class="btn btn-outline-primary flex-fill m-1" for="costCenterX2">Aktionen</label>

                                <input type="radio" class="btn-check" name="costCenter" id="costCenterX3"
                                       autocomplete="REVENUE" value="Spenden">
                                <label class="btn btn-outline-primary flex-fill m-1" for="costCenterX3">Spenden</label>

                                <input type="radio" class="btn-check" name="costCenter" id="costCenterX4"
                                       autocomplete="REVENUE" value="Zuschüsse">
                                <label class="btn btn-outline-primary flex-fill m-1"
                                       for="costCenterX4">Zuschüsse</label>
                            </div>

                            <div class="mb-2">
                                <input class="form-control" type="file" id="formFile" name="file" accept="image/*,.pdf"
                                       required>
                            </div>

                            <div class="form-floating h-75">
                            <textarea class="form-control h-75" id="notes" name="notes"
                                      placeholder="Notizen"></textarea>
                                <label for="notes">Notiz</label>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-success">Speichern</button>

                </div>

            </div>
        </div>
    </div>
</form>
</html>
<script th:src="@{/script/imports/jquery.min.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>
