<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments :: sidebar}" id="layoutSidenav_nav"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-yellow mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">Hygiene- und Präventionskonzept</h1>
                                <div class="page-header-subtitle">Erstellung eines Hygiene- und Präventionskonzeptes auf
                                    der Grundlage einer Risikoanalyse.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid px-4 mt-4">
                <style>
                    .card-body.clamp-description {
                        overflow: scroll;
                        display: -webkit-box;
                        -webkit-line-clamp: 6; /* z.B. max. 6 Zeilen */
                        -webkit-box-orient: vertical;
                    }
                    .card-limit-height {
                        min-height: 400px;
                    }
                    .row.d-flex {
                        align-items: stretch;
                    }
                </style>
                <div class="row d-flex align-items-stretch">
                    <div class="col-xl-8 col-12 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-success-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="file" class="text-success fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold" th:text="${event.getEventName()} + ' / ' + ${task.getTaskName()}"></h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div><span class="badge bg-success" th:text="${task.getTaskState().getLabel()}"></span></div>
                                                <div><span class="mdi mdi-circle text-green"></span> <span th:text="'Letztes Update: ' + ${task.getUpdated().getGermanDate()}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary btn-sm mdi mdi-arrow-left"
                                           th:href="'/planer?q=EVENT&id=' + ${event.getPlanerId()}"></a>
                                        <button class="btn btn-primary btn-sm mdi mdi-pencil" data-bs-toggle="modal" data-bs-target="#risk"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body clamp-description">
                                <div th:utext="${RISK}" style="overflow: scroll; max-height: 400px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-12 mb-4">
                        <div class="card h-100"  id="reference-card">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-info-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="info" class="text-info fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Zusatzinformationen</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                Füge weitere Informationen hinzu
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="table-responsive">
                                    <table class="table text-nowrap align-middle">
                                        <tbody>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="file" class="me-2"></i> Task ID
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td th:text="'PTK - ' + ${task.getTaskNumber()}"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="users" class="me-2 text-danger"></i> Bearbeiter
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                        <span th:each="p:${task.getEditors()}" class="avatar avatar-sm rounded-circle me-1" data-bs-toggle="tooltip"
                                              th:title="${p.getName()}">
                                            <img th:src="${p.getImgAdress()}" alt="img"
                                                 class="img-fluid rounded-circle">
                                        </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="check-circle" class="me-2 text-info"></i> Status
                                    </span>
                                            </td>
                                            <td>:</td>

                                            <td><span class="d-flex"><span
                                                    class="badge bg-info-soft text-info flex-fill" th:text="${task.getTaskState().getLabel()}"></span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="calendar" class="me-2 text-primary"></i> Letztes Update
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td th:text="${task.getUpdated().getGermanDate()}"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="alert-circle" class="me-2 text-warning"></i> Priorität
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td><span class="d-flex"><span
                                                    class="badge bg-secondary-soft text-secondary flex-fill" th:text="${task.getPriority().getLabel()}"></span></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-stretch mb-3">
                    <!-- Project Documents -->
                    <div class="col-xl-4 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-red-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="folder" class="text-red fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Dateien</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div>10 Uploads</div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mdi mdi-plus">Datei</button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="max-height: 300px; overflow-y: scroll;">
                                <ul class="list-group list-group-flush">
                                    <!-- Example List Item -->
                                    <!-- Weitere List Items kannst du nach dem gleichen Muster ergänzen -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-purple-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="zap" class="text-purple fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Bearbeiten</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div>Verwalte die Planung</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0" style="max-height: 300px; overflow-y: scroll;">

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 mb-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-primary-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="inbox" class="text-primary fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Meldungen</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div>10 Meldungen</div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mdi mdi-plus">Meldung</button>
                                </div>
                            </div>
                            <div class="card-body pt-3" style="max-height: 300px; overflow-y: scroll;">


                                <!-- Fade In Animation -->
                                <div class="timeline timeline-sm">
                                    <!-- Timeline Item 1-->
                                    <div class="timeline-item" th:each="log : ${event.getLogs('CONCEPT')}">
                                        <div class="timeline-item-marker">
                                            <div th:class="'timeline-item-marker-indicator ' + ${log.getLogType().getColor()}"></div>
                                        </div>
                                        <div class="timeline-item-content">
                                            <span th:text="'[' +${log.getDate().getGermanTime()} + '] ' + ${log.getHeadline()} + ': ' + ${log.getLogText()}"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>
<!-- The Modal -->

<!-- The Modal -->
<form th:action="@{/planer/concept/risk}" th:method="post">
    <input type="hidden" name="id" th:value="${event.getPlanerId()}">
    <input type="hidden" name="taskId" th:value="${task.getTaskId()}">
    <div class="modal" id="risk">
        <div class="modal-dialog  modal-fullscreen">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-yellow">
                    <h4 class="modal-title text-white">Risikoanalyse durchführen</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                     <textarea class="form-control mb-3" id="comment" name="text" th:text="${RISK}" rows="3"></textarea>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer d-flex">
                    <button class="btn btn-yellow btn-sm flex-fill m-1" type="submit">Speichern</button>
                </div>

            </div>
        </div>
    </div>
</form>


</html>
<script th:src="@{/script/imports/jquery.min.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>
<script src="https://cdn.tiny.cloud/1/cffl90sfi2w6v9p7qf819uqgaookf9q7jqhf5e83m8g0rbb5/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea', // Wähle das Textarea-Element aus
        plugins: 'advlist autolink lists link image charmap preview anchor table',
        toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image table',
        menubar: false, // Menüleiste deaktivieren (optional)
        branding: false, // "Powered by TinyMCE" ausblenden (nur in Free-Version anpassbar)
        image_uploadtab: false, // Falls keine Bilder hochgeladen werden sollen
        content_style: 'body { font-family: Arial, sans-serif; font-size: 14px; }'
    });
</script>