<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{fragments :: sidebar}" id="layoutSidenav_nav"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-yellow mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">Hygiene- und Präventionskonzept</h1>
                                <div class="page-header-subtitle">Erstellung eines Hygiene- und Präventionskonzeptes auf der Grundlage einer Risikoanalyse.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4">

                <div class="step step-lg mb-3">
                    <div class="step-item active">
                        <a class="step-item-link" href="#!">Anträge erstellen</a>
                    </div>
                    <div class="step-item">
                        <a class="step-item-link" href="#!">Antrag versenden</a>
                    </div>
                    <div class="step-item">
                        <a class="step-item-link" href="#!" tabindex="-1" aria-disabled="true">Abschluss</a>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-6 col-12 mb-3">
                        <div class="card border-start-lg border-start-yellow h-100">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <div class="small fw-bold text-yellow mb-1">Min. Zuschuss aus dem Landkreis Germesheim</div>
                                        <div class="h5">$4,390</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12 mb-3">
                        <div class="card border-start-lg border-start-yellow h-100">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <div class="small fw-bold text-yellow mb-1">Min. Zuschuss aus dem Land RLP</div>
                                        <div class="h5">$27.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-3">
                    <a class="btn btn-yellow btn-sm m-1 mdi mdi-arrow-left" th:href="'/planer?q=EVENT&id=' + ${event.getPlanerId()}"></a>
                    <div class="btn btn-yellow btn-sm flex-fill m-1">Antrag herunterladen</div>
                    <div class="btn btn-yellow btn-sm flex-fill m-1">Antrag hochladen</div>
                    <div class="btn btn-yellow btn-sm flex-fill m-1">Eintrag anlegen</div>
                </div>

                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-item-marker">
                            <div class="timeline-item-marker-indicator bg-primary-soft text-primary"><i data-feather="flag"></i></div>
                        </div>
                        <div class="timeline-item-content pt-0">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="text-primary">Beginning</h5>
                                    This is the content for the first timeline item. In this styled example, we're styling the timeline marker with background and typography utility classes. We've also shown that you can use the card component within the timeline item content.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>
<!-- The Modal -->
</html>
<script th:src="@{/script/imports/jquery.min.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>
