<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body>
<main>
    <header class="page-header page-header-dark bg-primary mb-4">
        <div class="container px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <span class="page-header-icon text-white"><i data-feather="layout"></i></span>
                            <span>Finanzen</span>
                        </h1>
                        <div class="page-header-subtitle">Verwalte die Finanzen deiner Gruppe
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->

    <div class="container px-4 mt-4">
        <div class="card">

            <div class="card-body">
                <form method="post" action="/finance/budget/save">
                    <!-- Matrix für Jahr/Einnahmen/Ausgaben -->
                    <div class="row mb-3" th:each="y : ${budgetYear}">
                        <label class="col-sm-2 col-form-label" th:text="'Budget für ' + ${y.value}"></label>
                        <div class="col-sm-10">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Jahr <span class="text-danger">*</span></th>
                                    <th>Einnahmen (€) <span class="text-danger">*</span></th>
                                    <th>Ausgaben (€) <span class="text-danger">*</span></th>
                                </tr>
                                </thead>
                                <tbody id="matrix-body">
                                <!-- Erste Beispiel-Zeile -->
                                <tr th:each="c : ${costCenter}" th:unless="${c.toString().equals('NULL')}">
                                    <td>
                                        <input type="hidden" class="d-none" name="budgetYear" th:value="${y}" readonly>
                                        <input type="hidden" class="d-none" name="costCenter" th:value="${c}" readonly>
                                        <input type="text" class="form-control bg-white" th:value="${c.label}" readonly>
                                    </td>
                                    <td><input type="number" name="income[]" class="form-control" step="0.01" th:value="${financeHelper.getBudget(c, y).getPlannedIncome()}"
                                               required></td>
                                    <td><input type="number" name="expenditure[]" class="form-control" th:value="${financeHelper.getBudget(c, y).getPlannedExpenditure()}"
                                               step="0.01" required></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Absenden</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
</main>
<div th:insert="~{fragments :: script}"></div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/script/main.js}"></script>

</body>
</html>
