<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body>
<main>
    <header class="page-header page-header-dark bg-primary mb-4">
        <div class="container px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <span class="page-header-icon text-white"><i data-feather="layout"></i></span>
                            <span>Finanzen</span>
                        </h1>
                        <div class="page-header-subtitle">Verwalte die Finanzen deiner Gruppe
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->

    <div class="container px-4 mt-4">
        <div class="card">

            <div class="card-body">
                <form method="post" action="/finance/transaction/save" enctype="multipart/form-data">
                    <input type="hidden" class="d-none" id="id" name="id" required th:value="${transaction.id}">

                    <!-- Titel -->
                    <div class="row mb-3 align-items-center">
                        <label for="title" class="col-sm-2 col-form-label">Titel <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="title"
                                    name="title"
                                    required
                                    th:value="${transaction.title}"/>
                        </div>
                    </div>

                    <!-- Datum -->
                    <div class="row mb-3 align-items-center">
                        <label for="date" class="col-sm-2 col-form-label">Datum <span
                                class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input
                                    type="date"
                                    class="form-control"
                                    id="date"
                                    name="date"
                                    required
                                    th:value="${transaction.date.getEnglishDate()}"/>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="budget" class="col-sm-2 col-form-label">Budget <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <select
                                    class="form-control"
                                    id="budget"
                                    name="budget"
                                    required>
                                <option th:each="b : ${budgets}"
                                        th:value="${b.id}"
                                        th:text="${b.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="type" class="col-sm-2 col-form-label">Type <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <select
                                    class="form-control"
                                    id="type"
                                    name="type"
                                    required>
                                <option th:each="t : ${types}"
                                        th:value="${t}"
                                        th:text="${t.label}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Speichern</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>
<div th:insert="~{fragments :: script}"></div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/script/main.js}"></script>

</body>
</html>
