<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-info mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <span class="page-header-icon text-white"><i data-feather="user"></i></span>
                                    <span>Personen</span>
                                </h1>
                                <div class="page-header-subtitle">Verschaffe dir einen Überblick über die Einträge deines Teams.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->


            <div class="container-fluid px-4 mt-4">

                <div th:replace="~{person/fragments/personFragmentsOverview :: overview(${step})}"></div>

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-start gap-3">
                                <!-- Icon -->
                                <div class="bg-purple-soft rounded-3 d-flex align-items-center justify-content-center"
                                     style="width: 48px; height: 48px;">
                                    <i data-feather="zap" class="text-purple fs-4"></i>
                                </div>

                                <!-- Text content -->
                                <div>
                                    <h5 class="mb-1 fw-semibold">Person erstellen</h5>
                                    <div class="d-flex flex-wrap gap-3 small text-muted" th:text="'Lege eine Person an'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="cardTabContent">
                            <form th:action="@{/personal/create}" method="post">

                                <div class="row mb-3 align-items-center">
                                    <label for="firstname" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control form-control-sm" id="firstname"
                                               name="firstname">
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control form-control-sm" id="lastname"
                                               name="lastname">
                                    </div>
                                </div>
                                <div class="d-flex mt-3 mb-3">
                                    <button class="btn btn-purple btn-sm flex-fill m-1" type="submit">Speichern</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>

<!-- The Modal -->
</html>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
