<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main class="h-75">
            <header class="page-header page-header-dark bg-primary mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    Finanzverwaltung
                                </h1>
                                <div class="page-header-subtitle">Führe hier das digitales Kassenbuch.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-2">

                <div class="row">
                    <div class="col-lg-6 col-xl-4 mb-4" th:if="${current.equals('overview')}">
                        <a class="card bg-primary lift text-white h-100" href="/finance">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="text-white-75 small">Gesamtes Finanzvermögen</div>
                                        <div class="text-lg fw-bold">Übersicht über alle Finanzkonten</div>
                                    </div>
                                    <i class="feather-xl text-white-50" data-feather="eye"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-xl-4 mb-4" th:unless="${current.equals('overview')}">
                        <a class="card lift h-100" href="/finance">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="small">Gesamtes Finanzvermögen</div>
                                        <div class="text-lg fw-bold">Übersicht über alle Finanzkonten</div>
                                    </div>
                                    <i class="feather-xl" data-feather="eye"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-6 col-xl-4 mb-4" th:unless="${current.equals('cash')}">
                        <a class="card lift h-100" href="/finance?q=overviewCash">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="small">Barkasse</div>
                                        <div class="text-lg fw-bold" th:text="${summCash} + ' €'"></div>
                                    </div>
                                    <i class="feather-xl" data-feather="dollar-sign"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-xl-4 mb-4" th:if="${current.equals('cash')}">
                        <a class="card bg-primary lift text-white h-100" href="/finance?q=overviewCash">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="text-white-75 small">Barkasse</div>
                                        <div class="text-lg fw-bold" th:text="${summCash} + ' €'"></div>
                                    </div>
                                    <i class="feather-xl text-white-50" data-feather="dollar-sign"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-6 col-xl-4 mb-4" th:if="${current.equals('account')}">
                        <a class="card bg-primary lift text-white h-100" href="/finance?q=overviewAccount">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="text-white-75 small">Konto</div>
                                        <div class="text-lg fw-bold" th:text="${summAccount} + ' €'"></div>
                                    </div>
                                    <i class="feather-xl text-white-50" data-feather="credit-card"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-xl-4 mb-4" th:unless="${current.equals('account')}">
                        <a class="card lift h-100" href="/finance?q=overviewAccount">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="small">Konto</div>
                                        <div class="text-lg fw-bold" th:text="${summAccount} + ' €'"></div>
                                    </div>
                                    <i class="feather-xl" data-feather="credit-card"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-12">

                        <div class="card mb-3" id="load">
                            <div class="card-header ">Buchungen</div>
                            <div class="card-body text-center">
                                <span class="spinner-border card-img"
                                      style="min-height: 200px; min-width: 200px;"></span>
                            </div>
                        </div>

                        <div class="card card-header-actions d-none" id="content">
                            <div class="card-header">
                                Buchungen
                                <button class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#create">+
                                    Buchung anlegen
                                </button>
                            </div>


                            <div class="card-body" style="overflow-y: scroll">

                                <table id="table_id" class="display" style="min-width:100%; max-width: 100%">
                                    <thead>
                                    <tr>
                                        <th>Buchung</th>
                                        <th>Wert</th>
                                        <th>Aktionen</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="t:${transactions}">
                                        <td th:text="${t.getDescription()}"></td>
                                        <td th:text="${t.getValue()}"></td>
                                        <td>
                                            <a th:href="'/finance?q=info&id=' + ${t.getId()}" class="btn btn-sm btn-light mdi mdi-information"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>


                    </div>
                    <div class="col-xl-4 col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="text-center">
                                    <i class="feather-xl text-primary" data-feather="dollar-sign"></i>
                                    <h3 th:text="${name}"></h3>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Kontostand
                                        <span class="fw-bold text-black" th:text="${summ} + ' €'"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Summe Eingänge
                                        <span class="fw-bold text-success" th:text="${revenue} + ' €'"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Summe Ausgänge
                                        <span class="fw-bold text-danger" th:text="${expense} + ' €'"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>

<!-- The Modal -->
<form th:method="post" th:action="@{/finance/save}" enctype="multipart/form-data">

    <div class="modal fade" id="create">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Buchung anlegen</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-2 d-flex">
                                <input type="radio" class="btn-check" name="documentType" id="documentType1" required
                                       autocomplete="EXPENSE" value="EXPENSE">
                                <label class="btn btn-outline-primary flex-fill m-1 mdi mdi-arrow-right"
                                       for="documentType1">Ausgabe</label>

                                <input type="radio" class="btn-check" name="documentType" id="documentType2"
                                       autocomplete="REVENUE" value="REVENUE">
                                <label class="btn btn-outline-primary flex-fill m-1 mdi mdi-arrow-left" for="documentType2">Einnahme</label>

                                <input type="radio" class="btn-check" name="documentType" id="documentType3"
                                       autocomplete="REVENUE" value="EXCHANGE">
                                <label class="btn btn-outline-primary flex-fill m-1 mdi mdi-transfer" for="documentType3">Transfer</label>
                            </div>

                            <div class="form-floating mb-2">
                                <select class="form-select" id="type" name="type" required>
                                    <option></option>
                                    <option value="CASH">Barkasse</option>
                                    <option value="ACCOUNT">Konto</option>
                                </select>
                                <label for="type" class="form-label">Konto:</label>
                            </div>

                            <div class="form-floating mb-2 mt-3">
                                <input type="text" class="form-control" id="description" placeholder="Enter email" name="description" required>
                                <label for="description">Buchungstext</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="value" placeholder="" name="value" pattern="\d+\.\d{2}" title="Bitte gebe den Betrag getrennt durch einen Punkt an." required>
                                <label for="value">Betrag</label>
                            </div>

                            <div class="form-floating mb-3 mt-3">
                                <input type="date" class="form-control" id="date" placeholder="Enter email" name="date" required>
                                <label for="date">Buchungsdatum</label>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="mb-2 d-flex">
                                <input type="radio" class="btn-check" name="costCenter" id="costCenterX1" required
                                       autocomplete="EXPENSE" value="Teamer">
                                <label class="btn btn-outline-primary flex-fill m-1" for="costCenterX1">Teamer</label>

                                <input type="radio" class="btn-check" name="costCenter" id="costCenterX2"
                                       autocomplete="REVENUE" value="Aktionen">
                                <label class="btn btn-outline-primary flex-fill m-1" for="costCenterX2">Aktionen</label>

                                <input type="radio" class="btn-check" name="costCenter" id="costCenterX3"
                                       autocomplete="REVENUE" value="Spenden">
                                <label class="btn btn-outline-primary flex-fill m-1" for="costCenterX3">Spenden</label>

                                <input type="radio" class="btn-check" name="costCenter" id="costCenterX4"
                                       autocomplete="REVENUE" value="Zuschüsse">
                                <label class="btn btn-outline-primary flex-fill m-1" for="costCenterX4">Zuschüsse</label>
                            </div>

                            <div class="mb-2">
                                <input class="form-control" type="file" id="formFile" name="file" accept="image/*,.pdf" required>
                            </div>

                            <div class="form-floating h-75">
                            <textarea class="form-control h-75" id="notes" name="notes"
                                      placeholder="Notizen"></textarea>
                                <label for="notes">Notiz</label>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-success">Speichern</button>

                </div>

            </div>
        </div>
    </div>
</form>

<script th:src="@{/script/imports/jquery.min.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>
<div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#table_id').DataTable({
            language: {
                "decimal": ",",
                "thousands": ".",
                "infoPostFix": "",
                "infoFiltered": "(gefiltert aus insgesamt _MAX_ Einträgen)",
                "loadingRecords": "Bitte warten Sie - Daten werden geladen ...",
                "lengthMenu": "Anzeigen von _MENU_ Einträgen",
                "paginate": {
                    "first": "Erste",
                    "last": "Letzte",
                    "next": "Nächste",
                    "previous": "Zurück"
                },
                "processing": "Verarbeitung läuft ...",
                "search": "Suche:",
                "searchPlaceholder": "Suchbegriff",
                "zeroRecords": "Keine Daten! Bitte ändern Sie Ihren Suchbegriff.",
                "emptyTable": "Keine Einträge zum Anzeigen vorhanden",
                "aria": {
                    "sortAscending": ": aktivieren, um Spalte aufsteigend zu sortieren",
                    "sortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
                },
                "info": "Zeigt _START_ bis _END_  von _TOTAL_ Einträgen",
                "infoEmpty": "Keine Einträge zum Anzeigen vorhanden",
                "select": {
                    "rows": {
                        _: '%d Zeilen ausgewählt',
                        0: 'Zeile anklicken um auszuwählen',
                        1: 'Eine Zeile ausgewählt'
                    }
                }
            }, search: true, paginate: true,
            "columnDefs": [
                {
                    "targets": [2],
                    className: 'dt-body-right dt-head-right'

                }
            ],
        });
        document.getElementById("content").classList.remove("d-none");
        document.getElementById("load").classList.add("d-none");

    });

   </script>

</body>
</html>
