<!-- templates/fragments/eventNav.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<!-- Definiere hier das Fragment „eventNav“ mit den Parametern s und event -->
<div th:fragment="nav (s)">
    <nav class="nav nav-pills nav-fill mb-3">
        <a th:class="${s == 'me'} ? 'nav-link active bg-purple' : 'nav-link text-purple'"
           th:href="@{/workflow(s='me')}">
            <i class="mdi mdi-account-cog me-1"></i>
            Deine Workflows</a>
        <a th:class="${s == 'all'} ? 'nav-link active bg-purple' : 'nav-link text-purple'"
           th:href="@{/workflow(s='all')}">
            <i class="mdi mdi-select-group me-1"></i>
            Alle Workflows</a>
        <a th:class="${s == 'create'} ? 'nav-link active bg-purple' : 'nav-link text-purple'"
           th:href="@{/workflow(s='create')}">
            <i class="mdi mdi-cog-refresh me-1"></i>
            Workflow erstellen</a>
        <a th:class="${s == 'admin'} ? 'nav-link active bg-purple' : 'nav-link text-purple'"
           th:href="@{/workflow(s='admin')}">
            <i class="mdi mdi-cog me-1"></i>
            Administration</a>
    </nav>
</div>
</html>
