<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-purple mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <span class="page-header-icon text-white"><i data-feather="zap"></i></span>
                                    <span>Deine Workflows</span>
                                </h1>
                                <div class="page-header-subtitle">Bearbeite deine Workflows!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container-xl px-4 mt-4">

                <div class="card mb-4">
                    <div class="card-body p-5">
                        <div class="row align-items-center justify-content-between">
                            <div class="col">
                                <h1 class="text-info" style="font-size:35px" th:text="${module.getName()}"></h1>
                                <h4 class="lead mb-4">Bitte wende dich bei Fragen direkt an Lucas!</h4>
                                <p th:utext="${module.getDescription()}"></p>
                            </div>
                            <div class="col-xl-3 d-none d-lg-block mt-xxl-n4 text-center">
                                <img class="img-fluid px-xl-4 mt-xxl-n5" style="max-width:400px!important;"
                                     th:src="@{/dist/assets/img/illustrations/Security-rafiki.svg}"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <!-- Content and loader wrappers -->
                        <div id="content">
                            <form id="dynamicForm" enctype="multipart/form-data">

                                <input type="text" class="d-none" readonly name="module" th:value="${module.getModuleId()}"/>

                                <div th:each="component : ${components}">
                                    <div class="row mb-3 align-items-center">
                                        <label th:for="${component.name}" class="col-sm-2 col-form-label"
                                               th:text="${component.label}"></label>
                                        <div class="col-sm-10" th:switch="${component.type.toString()}">

                                            <!-- Existing input cases unchanged -->

                                            <div th:case="'TEXT'">
                                                <input type="text" class="form-control" th:id="${component.name}"
                                                       th:name="${component.name}" th:value="${component.value}"
                                                       th:required="${component.required}"/>
                                            </div>

                                            <div th:case="'TEXTAREA'">
                                        <textarea class="form-control" th:id="${component.name}"
                                                  th:name="${component.name}" th:text="${component.value}"
                                                  th:required="${component.required}"></textarea>
                                            </div>

                                            <div th:case="'SELECT'">
                                                <select class="form-select" th:id="${component.name}"
                                                        th:name="${component.name}" th:required="${component.required}">
                                                    <option th:each="opt : ${component.options}" th:value="${opt}"
                                                            th:text="${opt}"></option>
                                                </select>
                                            </div>

                                            <div th:case="'CHECKBOX'">
                                                <div th:each="opt : ${component.options}">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox"
                                                               th:id="${component.name + '_' + opt}" th:name="${component.name}"
                                                               th:value="${opt}" th:required="${component.required}"/>
                                                        <label class="form-check-label" th:for="${component.name + '_' + opt}"
                                                               th:text="${opt}"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div th:case="'RADIO'">
                                                <div th:each="opt : ${component.options}">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"
                                                               th:id="${component.name + '_' + opt}" th:name="${component.name}"
                                                               th:value="${opt}" th:required="${component.required}"/>
                                                        <label class="form-check-label" th:for="${component.name + '_' + opt}"
                                                               th:text="${opt}"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div th:case="'FILE'">
                                                <input type="file" class="form-control" th:name="${component.name}"
                                                       th:id="${component.name}" th:required="${component.required}"/>
                                            </div>

                                            <!-- Weitere Eingabetypen -->
                                            <div th:case="'EMAIL'">
                                                <input type="email" class="form-control" th:name="${component.name}"
                                                       th:value="${component.value}"/>
                                            </div>
                                            <div th:case="'DATE'">
                                                <input type="date" class="form-control" th:name="${component.name}"
                                                       th:value="${component.value}"/>
                                            </div>
                                            <div th:case="'TIME'">
                                                <input type="time" class="form-control" th:name="${component.name}"
                                                       th:value="${component.value}"/>
                                            </div>

                                            <!-- MATRIX Input mit Komponenten-Spalten -->
                                            <div th:case="'MATRIX'">
                                                <table class="table table-bordered"
                                                       th:attr="data-comp-name=${component.name},
                                                    data-col-names=${#strings.listJoin(component.columns.![name],',')},
                                                    data-col-types=${#strings.listJoin(component.columns.![type],',')}">
                                                    <thead>
                                                    <tr>
                                                        <th th:each="col : ${component.columns}" th:text="${col.label}"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody th:id="${'matrixBody__' + component.name}">
                                                    <!-- Erste Zeile mit Inputs -->
                                                    <tr>
                                                        <td th:each="col : ${component.columns}">
                                                            <div th:switch="${col.type.toString()}">
                                                                <div th:case="'TEXT'">
                                                                    <input type="text" class="form-control"
                                                                           th:name="${component.name + '[0].' + col.name}"/>
                                                                </div>
                                                                <div th:case="'FILE'">
                                                                    <input type="file" class="form-control"
                                                                           th:name="${component.name + '[0].' + col.name}"/>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="text-end">
                                                    <button type="button" class="btn btn-outline-primary"
                                                            th:attr="data-target-id=${'matrixBody__' + component.name}"
                                                            onclick="addMatrixRow(this)">+ Zeile hinzufügen
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- ENDE MATRIX -->

                                            <div th:case="'SIGNATURE'">
                                                <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
                                                <style type="text/css">
                                                    .m-signature-pad--body canvas {
                                                        position: relative;
                                                        left: 0;
                                                        top: 0;
                                                        width: 100%;
                                                        height: 250px;
                                                        border: 1px solid #CCCCCC;
                                                    }
                                                </style>
                                                <h1 class="text-center text-danger">Hier unterschreiben:</h1>
                                                <div id="signature-pad" class="m-signature-pad">
                                                    <div class="m-signature-pad--body">
                                                        <canvas class="bg-danger-soft"></canvas>
                                                        <input type="hidden" id="signature" class="d-none"
                                                               th:name="${component.name}" th:value="${component.value}"
                                                               required/>
                                                    </div>
                                                </div>
                                                <b>Wichtig: Sofern der/die Messdiener/in über 16 ist, muss er/sie hier
                                                    unterschreiben!</b>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <button type="button" class="btn btn-primary" onclick="submitForm()">Speichern</button>
                                </div>
                            </form>
                        </div>
                        <!-- Loader element -->
                        <div id="load" class="d-none text-center my-4">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Lädt...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>

        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>
</html>
<script th:src="@{/js/jquery.min.js}"></script>

<script>
    (function () {
        let signaturePad = null;

        // --- Utilities ----------------------------------------------------------
        function getCsrf() {
            const tokenInput  = document.querySelector('input[name="_csrf"]');
            const headerInput = document.querySelector('input[name="_csrf_header"]');
            const metaToken   = document.querySelector('meta[name="_csrf"]');
            const metaHeader  = document.querySelector('meta[name="_csrf_header"]');
            const token  = tokenInput?.value || metaToken?.content || null;
            const header = headerInput?.value || metaHeader?.content || 'X-CSRF-TOKEN';
            return token ? { header, token } : null;
        }

        function save() {
            const content = document.getElementById('content');
            const load    = document.getElementById('load');
            if (content) content.classList.add('d-none');
            if (load)    load.classList.remove('d-none');
        }

        function resizeCanvas() {
            if (!signaturePad) return;
            const canvas = signaturePad.canvas;
            const ratio = Math.max(window.devicePixelRatio || 1, 1);
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext('2d').scale(ratio, ratio);
            const data = signaturePad.toData();
            signaturePad.clear();
            signaturePad.fromData(data);
        }

        // Saubere Required-Prüfung für alle gängigen Typen
        function checkRequiredFields(formEl) {
            const invalid = [];

            // helper: mark/unmark invalid
            const markInvalid = (el, on) => {
                if (!el) return;
                if (on) el.classList.add('is-invalid'); else el.classList.remove('is-invalid');
            };

            // Radios/Checkbox-Gruppen nach "name" bündeln
            const byName = {};
            formEl.querySelectorAll('[name]').forEach(el => {
                const n = el.getAttribute('name');
                if (!byName[n]) byName[n] = [];
                byName[n].push(el);
            });

            formEl.querySelectorAll('[required]').forEach(el => {
                const tag = el.tagName.toLowerCase();
                const type = (el.getAttribute('type') || '').toLowerCase();
                let isValid = true;

                if (tag === 'select') {
                    const v = el.value;
                    isValid = v !== null && v !== '';
                } else if (type === 'checkbox') {
                    // Gruppe mit gleichem Namen?
                    const group = byName[el.name] || [el];
                    const anyChecked = group.some(x => x.checked);
                    isValid = anyChecked;
                    // Markiere jedes Element der Gruppe entsprechend
                    group.forEach(x => markInvalid(x, !anyChecked));
                    if (!anyChecked && !invalid.includes(group[0])) invalid.push(group[0]);
                    return; // Gruppe schon verarbeitet
                } else if (type === 'radio') {
                    const group = byName[el.name] || [el];
                    const anyChecked = group.some(x => x.checked);
                    isValid = anyChecked;
                    group.forEach(x => markInvalid(x, !anyChecked));
                    if (!anyChecked && !invalid.includes(group[0])) invalid.push(group[0]);
                    return;
                } else if (type === 'file') {
                    isValid = el.files && el.files.length > 0;
                } else {
                    // text, email, number, textarea, etc.
                    const v = (el.value || '').trim();
                    isValid = v !== '';
                }

                markInvalid(el, !isValid);
                if (!isValid) invalid.push(el);
            });

            if (invalid.length > 0) {
                // Zum ersten invaliden Feld scrollen/fokussieren (solange sichtbar!)
                const first = invalid[0];
                try { first.scrollIntoView({ behavior: 'smooth', block: 'center' }); } catch (_) {}
                try { first.focus({ preventScroll: true }); } catch (_) {}
                alert('Bitte fülle alle erforderlichen Felder aus.');
                return false;
            }
            return true;
        }

        // Serialisiert Matrix-Tabellen in Hidden-Inputs als JSON.
        function serializeMatrices(formEl) {
            document.querySelectorAll('table[data-comp-name]').forEach(table => {
                const cols = (table.getAttribute('data-col-names') || '').split(',').map(s => s.trim()).filter(Boolean);
                const compName = table.getAttribute('data-comp-name');
                if (!compName || cols.length === 0) return;

                const rows = Array.from(table.querySelectorAll('tbody tr')).map(tr => {
                    const obj = {};
                    tr.querySelectorAll('input[type="text"]').forEach((inp, i) => {
                        const key = cols[i] ?? `col${i}`;
                        obj[key] = inp.value;
                        inp.disabled = true; // vermeidet doppelte Übertragung
                    });
                    return obj;
                });

                let hidden = formEl.querySelector(`input[name="${compName}"]`);
                if (!hidden) {
                    hidden = document.createElement('input');
                    hidden.type = 'hidden';
                    hidden.name = compName;
                    formEl.appendChild(hidden);
                }
                hidden.value = JSON.stringify(rows);
            });
        }

        // Prüft & setzt Signatur (falls vorhanden). Liefert true/false.
        function ensureSignature() {
            const padWrapper = document.getElementById('signature-pad');
            if (!padWrapper) return true; // keine Signatur-Komponente vorhanden
            if (!signaturePad) { alert('Signatur-Pad nicht verfügbar.'); return false; }
            if (signaturePad.isEmpty()) { alert('Bitte zuerst unterschreiben.'); return false; }
            const sigInput = document.getElementById('signature');
            if (!sigInput) { alert('Hidden-Feld für Signatur (#signature) fehlt.'); return false; }
            sigInput.value = signaturePad.toDataURL();
            return true;
        }

        // --- Init SignaturePad -------------------------------------------------
        window.addEventListener('DOMContentLoaded', () => {
            const wrapper = document.getElementById('signature-pad');
            if (!wrapper || typeof SignaturePad === 'undefined') return;
            const canvas = wrapper.querySelector('canvas');
            if (!canvas) return;

            signaturePad = new SignaturePad(canvas, {
                minWidth: 1,
                maxWidth: 5,
                penColor: '#000000',
                backgroundColor: '#fff2cc'
            });
            signaturePad.onBeginStroke = () => console.log('Signature started');

            window.addEventListener('resize', resizeCanvas);
            resizeCanvas();
        });

        // --- Form Submit Handling ----------------------------------------------
        const form = document.getElementById('dynamicForm');
        if (!form) {
            console.error('[workflow/upload] Form #dynamicForm nicht gefunden.');
            return;
        }

        // WICHTIG: native HTML5-Validierung ausschalten, wir prüfen selbst
        form.noValidate = true;

        const submitBtn = form.querySelector('[type="submit"]');

        // Globaler Hook für bestehendes onclick="submitForm()"
        window.submitForm = function () {
            // Nur unseren eigenen Submit-Event triggern (keine native Validierung!)
            form.dispatchEvent(new Event('submit', { cancelable: true, bubbles: true }));
        };

        // Optional: global verfügbar
        window.addMatrixRow = function (button) {
            if (!button) return;
            const tbodyId = button.getAttribute('data-target-id');
            const tbody = document.getElementById(tbodyId);
            if (!tbody) return;
            const table = tbody.closest('table');
            if (!table) return;

            const compName = table.getAttribute('data-comp-name') || 'matrix';
            const colNames = (table.getAttribute('data-col-names') || '').split(',').map(s => s.trim());
            const colTypes = (table.getAttribute('data-col-types') || '').split(',').map(s => s.trim());

            const idx = tbody.querySelectorAll('tr').length;
            const tr = document.createElement('tr');

            colNames.forEach((col, i) => {
                const td = document.createElement('td');
                const type = colTypes[i] || 'TEXT';
                let inp;
                if (type === 'TEXT') {
                    inp = document.createElement('input');
                    inp.type = 'text';
                    inp.className = 'form-control';
                    inp.name = `${compName}[${idx}].${col}`;
                } else if (type === 'FILE') {
                    inp = document.createElement('input');
                    inp.type = 'file';
                    inp.className = 'form-control';
                    inp.name = `${compName}[${idx}].${col}`;
                } else {
                    inp = document.createElement('input');
                    inp.type = 'text';
                    inp.className = 'form-control';
                    inp.name = `${compName}[${idx}].${col}`;
                }
                td.appendChild(inp);
                tr.appendChild(td);
            });

            tbody.appendChild(tr);
        };

        form.addEventListener('submit', function (e) {
            e.preventDefault();

            // 1) validieren (sichtbar!)
            if (!checkRequiredFields(form)) return;
            if (!ensureSignature()) return;

            // 2) Matrix serialisieren
            serializeMatrices(form);

            // 3) Jetzt erst UI umschalten
            save();

            const actionUrl = form.getAttribute('action') || '/workflow/upload';
            const fd = new FormData(form);

            const originalBtnText = submitBtn ? submitBtn.innerHTML : '';
            if (submitBtn) {
                submitBtn.disabled = true;
                submitBtn.setAttribute('aria-busy', 'true');
                submitBtn.innerHTML = 'Wird hochgeladen…';
            }

            const csrf = getCsrf();
            const headers = {};
            if (csrf) headers[csrf.header] = csrf.token;

            fetch(actionUrl, { method: 'POST', body: fd, headers })
                .then(async (res) => {
                    const ct = res.headers.get('content-type') || '';
                    if (!res.ok) {
                        const text = await res.text().catch(() => '');
                        const shortText = text ? text.slice(0, 400) : '(kein Body)';
                        throw new Error(`HTTP ${res.status} ${res.statusText} – erwartete JSON-Antwort, erhalten: ${ct}. Body-Ausschnitt:\n${shortText}`);
                    }
                    if (ct.includes('application/json')) return res.json();
                    const text = await res.text();
                    throw new Error(`Erwartete JSON-Antwort, stattdessen: ${ct}. Body-Ausschnitt:\n${text.slice(0, 400)}`);
                })
                .then((data) => {
                    if (window.opener && !window.opener.closed) {
                        try { window.opener.location.reload(); } catch (_) {}
                    }
                    if (data && typeof data.redirectUrl === 'string' && data.redirectUrl.length > 0) {
                        window.location.href = data.redirectUrl;
                    } else {
                        window.location.reload();
                    }
                })
                .catch((err) => {
                    console.error('[workflow/upload] Fehler:', err);
                    alert('Upload fehlgeschlagen. Bitte erneut versuchen.\n\nDetails (Kürzung):\n' + String(err.message || err).slice(0, 500));
                })
                .finally(() => {
                    if (submitBtn) {
                        submitBtn.disabled = false;
                        submitBtn.removeAttribute('aria-busy');
                        submitBtn.innerHTML = originalBtnText;
                    }
                });
        });
    })();
</script>
