<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-cyan mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    Task-Manager
                                </h1>
                                <div class="page-header-subtitle text-white">Deine Aufgaben für deine Messdienergruppe.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid px-4 mt-4">
                <style>
                    .card-body.clamp-description {
                        overflow: scroll;
                        display: -webkit-box;
                        -webkit-line-clamp: 6; /* z.B. max. 6 Zeilen */
                        -webkit-box-orient: vertical;
                    }
                    .card-limit-height {
                         min-height: 400px;
                     }
                    .row.d-flex {
                        align-items: stretch;
                    }

                </style>
                <div class="row d-flex align-items-stretch">
                    <div class="col-xl-8 col-12 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div th:class="'rounded-3 d-flex align-items-center justify-content-center ' + ${task.getTaskType().getColor()}+'-soft'"
                                             style="width: 48px; height: 48px;">
                                            <i th:class="'fs-4 ' + ${task.getTaskType().getTextColor()}"
                                               th:data-feather="${task.getTaskType().getIcon()}"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold" th:text="${task.getTaskTitle()}"></h5>
                                            <div class="d-flex flex-wrap gap-2 small text-muted">
                                                <div>Nummer: <span class="text-dark fw-semibold"
                                                                   th:text="${task.getTaskNumber()}"></span></div>
                                                <div>Typ: <span class="text-dark fw-semibold"
                                                                th:text="${task.getTaskType().getLabel()}"></span></div>
                                                <div>Kategorie: <span class="text-dark fw-semibold"
                                                                      th:text="${task.getTaskCategory().getLabel()}"></span>
                                                </div>
                                                <div>Status: <span class="text-dark fw-semibold"
                                                                   th:text="${task.getTaskState().getLabel()}"></span>
                                                </div>
                                                <div>Priorität: <span class="text-dark fw-semibold"
                                                                      th:text="${task.getPriority().getLabel()}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mdi mdi-plus">Aktion bearbeiten</button>
                                </div>
                            </div>
                            <div class="card-body clamp-description">
                                <span class="card-title text-lg fw-bold text-black">Beschreibung</span><br>
                                <span th:text="${task.getTaskDescription()}"></span><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-12 mb-4">
                        <div class="card h-100" id="reference-card">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-info-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="info" class="text-info fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Zusatzinformationen</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                Füge weitere Informationen hinzu
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mdi mdi-plus">Information</button>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="table-responsive">
                                    <table class="table text-nowrap align-middle">
                                        <tbody>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="file" class="me-2"></i> Task ID
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td th:text="'TSK - ' + ${task.getTaskNumber()}"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="users" class="me-2 text-danger"></i> Bearbeiter
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span
                                                            class="avatar avatar-sm rounded-circle me-1"
                                                            data-bs-toggle="tooltip"
                                                            th:title="${processorName}">
                                                    <img
                                                            src="http://localhost:63343/PR_CMS_V2/templates/sb-admin-pro_no-source/dist/assets/img/illustrations/profiles/profile-1.png"
                                                            alt="img"
                                                            class="img-fluid rounded-circle"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="check-circle" class="me-2 text-info"></i> Status
                                    </span>
                                            </td>
                                            <td>:</td>

                                            <td><span class="d-flex"><span
                                                    class="badge bg-info-soft text-info flex-fill" th:text="${task.getTaskState().getLabel()}"></span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="calendar" class="me-2 text-primary"></i> Timeline
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td th:text="${task.getDueDate().getGermanDate()}"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="alert-circle" class="me-2 text-warning"></i> Priorität
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td><span class="d-flex"><span
                                                    class="badge bg-secondary-soft text-secondary flex-fill" th:text="${task.getPriority().getLabel()}"></span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="user" class="me-2 text-primary"></i> Manager
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="tag" class="me-2 text-success"></i> Tags
                                    </span>
                                            </td>
                                            <td>:</td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                    <span class="d-flex align-items-center">
                                        <i data-feather="bar-chart-2" class="me-2 text-primary"></i> Fortschritt
                                    </span>
                                            </td>
                                            <td class="border-bottom">:</td>
                                            <td class="border-bottom">
                                                <div class="d-flex align-items-center">
                                                    <div class="progress flex-fill me-2" style="height: 6px;">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                             style="width: 0;" aria-valuenow="0"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div class="text-muted small">0%</div>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-stretch mb-3">
                    <!-- Project Documents -->
                    <div class="col-xl-4 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-red-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="folder" class="text-red fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Dateien</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div>10 Uploads</div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mdi mdi-plus">Datei</button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="max-height: 250px; overflow-y: scroll;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-muted">Keine Dateien vorhanden</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Sub Tasks -->
                    <div class="col-xl-4 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-secondary-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="git-pull-request" class="text-secondary fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Substasks</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div>10 offene Aufgaben</div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mdi mdi-plus">Subtask</button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="max-height: 250px; overflow-y: scroll;">
                                <ul class="list-group">
                                    <li class="list-group-item text-muted">Keine Dateien vorhanden</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <div class="card card-limit-height h-100">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-start gap-3">
                                        <!-- Icon -->
                                        <div class="bg-primary-soft rounded-3 d-flex align-items-center justify-content-center"
                                             style="width: 48px; height: 48px;">
                                            <i data-feather="inbox" class="text-primary fs-4"></i>
                                        </div>

                                        <!-- Text content -->
                                        <div>
                                            <h5 class="mb-1 fw-semibold">Meldungen</h5>
                                            <div class="d-flex flex-wrap gap-3 small text-muted">
                                                <div th:text="${task.getMessageList().size()} + ' Meldungen'"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mdi mdi-plus" data-bs-toggle="modal"
                                            data-bs-target="#create"></button>
                                </div>
                            </div>
                            <div class="card-body p-0" style="max-height: 250px; overflow-y: scroll;">
                                <div class="timeline timeline-sm p-2">
                                    <div class="timeline-item" th:each="m : ${task.getMessageList()}">
                                        <div class="timeline-item-marker">
                                            <div th:class="'timeline-item-marker-indicator ' + ${m.getMessageType().getColor()} + '-soft ' + ${m.getMessageType().getTextColor()}"><i th:data-feather="${m.getMessageType().getIcon()}"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-item-content"><a href="javascript:void(null)" class="text-black"
                                                                              th:attr="data-title=${m.messageTitle},
                    data-date=${m.date.germanDate},
                    data-type=${m.messageType},
                    data-creator=${taskHelper.getMessageSender(m).orElse(false).getName()},
                    data-info=${m.messageInformationCascade},
                    data-description=${m.messageDescription},
                    data-color=${m.messageType.getColor()},
                    data-icon=${m.messageType.getIcon()},
                    data-textcolor=${m.messageType.textColor}"
                                                                              onclick="openMessageModal(this)">
                                            <span th:text="${m.getDate().getGermanDate()}"></span>: <span th:text="${m.getMessageTitle()}"></span></a>
                                            </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>
<form class="form-validation was-validated " th:action="@{/task/message/create}" method="post">
    <input class="d-none" type="hidden" name="id" th:value="${task.getTaskId()}"/>
    <div class="modal fade " id="create" data-bs-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Kommentar erstellen</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3"><label for="title">Titel</label>
                        <input type="text" class="form-control" name="messageTitle" id="title" required>
                    </div>
                    <div class="mb-3"><label for="description">Beschreibung</label>
                        <textarea class="form-control" name="messageDescription" id="description" rows="5"
                                  required></textarea>
                    </div>

                    <select class="form-select mb-3" id="sel1" name="messageInformationCascade">
                        <option value="C0">Keine Informationen Teilen</option>
                        <option value="C1">Information an Leitungsteam</option>
                        <option value="C2">Information an Obermessdiener</option>
                        <option value="C3">Information an Gemeindereferent</option>
                        <option value="C4">Information an Pfarrer</option>
                    </select>

                    <div class="mb-2">
                        <input class="form-control" type="file" id="formFile" name="file" accept="image/*,.pdf">
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-success" type="submit">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form class="form-validation was-validated" th:action="@{/tasks/reject}" method="post"
      th:if="${task.getTaskType().toString().equals('APPROVAL')} and !${task.getTaskState().toString().equals('COMPLETED')}">
    <input class="d-none" type="hidden" name="id" th:value="${task.getTaskId()}"/>
    <div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Task ablehnen</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3"><label for="reject1">Begründung:</label>
                        <textarea class="form-control" name="description" id="reject1" rows="3" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-danger" type="submit">Ablehnen</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Message Detail Modal -->
<div class="modal fade" id="messageDetailModal" data-bs-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-start gap-3">
                    <!-- Icon -->
                    <div id="mIcon"
                         style="width: 48px; height: 48px;">
                        <i id="mIconS"></i>
                    </div>

                    <!-- Text content -->
                    <div>
                        <h5 class="mb-1 fw-semibold" id="modalMessageTitle"></h5>
                        <div class="d-flex flex-wrap gap-2 small text-muted">
                            <div>Typ: <span class="text-dark fw-semibold" id="modalMessageType"></span></div>
                            <div>Information an: <span class="text-dark fw-semibold" id="modalMessageInfoTo"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
            </div>
            <div class="modal-body">
                <dl class="row">

                    <dt class="col-sm-3">Datum</dt>
                    <dd class="col-sm-9" id="modalMessageDate"></dd>


                    <dt class="col-sm-3">Ersteller</dt>
                    <dd class="col-sm-9" id="modalMessageCreator"></dd>

                    <dt class="col-sm-3">Beschreibung</dt>
                    <dd class="col-sm-9" id="modalMessageDescription"></dd>
                </dl>
            </div>
        </div>
    </div>
</div>


</html>
<script th:src="@{/script/imports/jquery.min.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>
<div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
</div>
<script>
    function openMessageModal(element) {
        const modal = new bootstrap.Modal(document.getElementById('messageDetailModal'));

        document.getElementById('modalMessageTitle').textContent = element.dataset.title;
        document.getElementById('modalMessageDate').textContent = element.dataset.date;
        document.getElementById('modalMessageType').textContent = element.dataset.type;
        document.getElementById('modalMessageCreator').textContent = element.dataset.creator || '–';
        document.getElementById('modalMessageInfoTo').textContent = element.dataset.info;
        document.getElementById('modalMessageDescription').textContent = element.dataset.description;
        document.getElementById('mIcon').className = 'rounded-3 d-flex align-items-center justify-content-center ' + element.dataset.color + '-soft';
        document.getElementById('mIconS').className = 'fs-4 ' + element.dataset.textcolor;
        document.getElementById('mIconS').setAttribute('data-feather', element.dataset.icon);
        feather.replace();
        modal.show();
    }
</script>

