<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-yellow mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <span class="page-header-icon text-white"><i data-feather="calendar"></i></span>
                                    <span>Termine</span>
                                </h1>
                                <div class="page-header-subtitle">Verwalte die Termine deiner Gruppe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container-fluid px-4 mt-4">

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center g-3">
                            <!-- Tabs -->
                            <div class="col-auto">
                                <ul class="nav nav-borders small">
                                    <li class="nav-item">
                                        <a class="nav-link active text-primary fw-semibold" href="#">Alle Termine</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-muted" href="#">In Bearbeitung</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-muted" href="#">Abgeschlossen</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col"></div>

                            <!-- Search -->
                            <div class="col">
                                <div class="input-group input-group-joined input-group-sm">
                                    <input class="form-control form-control-sm" type="text" placeholder="Search..." aria-label="Search" autofocus />
                                    <span class="input-group-text"><i data-feather="search"></i></span>
                                </div>
                            </div>

                            <div class="col"></div>


                            <!-- Filter + Add Button -->
                            <div class="col-auto d-flex gap-2">
                                <!-- Default Behavior -->
                                <div class="dropdown">
                                    <button class="btn btn-yellow btn-sm dropdown-toggle" id="dropdownNoAnimation" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownNoAnimation">
                                        <a class="dropdown-item" href="#!">Alle Gruppen</a>
                                        <a class="dropdown-item" href="#!">Deine Gruppe</a>
                                        <a class="dropdown-item" href="#!">Hohes Risiko</a>
                                    </div>
                                </div>

                                <button class="btn btn-yellow btn-sm mdi mdi-plus" type="button" data-bs-toggle="modal" data-bs-target="#create"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 row-cols-xxl-4 g-4">
                    <div class="col" th:each="event : ${events}">
                        <a class="card shadow-sm h-100 d-flex flex-column lift" th:href="'/event?q=info&id=' + ${event.getEventId()} + '&s=info'">
                            <div class="card-body d-flex flex-column">
                                <!-- Tag -->
                                <span th:class="'badge fw-semibold rounded-pill mb-3 ' + ${event.getState().getColors()}" th:text="${event.getState().getLabel()}"></span>

                                <!-- Title & Description -->
                                <h5 class="mb-1 fw-semibold" th:text="${event.getTitle()}"></h5>
                                <p class="text-muted mb-3" th:text="${event.getDescription()}"></p>

                                <!-- Task Info -->
                                <div class="d-flex align-items-center justify-content-between gap-3 p-3 bg-light rounded mb-3">
                                    <div class="d-flex align-items-center gap-3">
                                        <!-- Icon -->
                                        <div class="rounded d-flex align-items-center justify-content-center bg-info-soft" style="width: 48px; height: 48px;">
                                            <i data-feather="info" class="text-info"></i>
                                        </div>

                                        <!-- Text content -->
                                        <h6 class="mb-0 fw-semibold" th:text="${event.getType().getLabel()}"></h6>
                                    </div>
                                </div>


                                <!-- Spacer to push footer down -->
                                <div class="mt-auto d-flex justify-content-between align-items-center pt-2">
                                    <!-- Avatars -->
                                    <div class="d-flex">
                                        <img src="https://i.pravatar.cc/32?img=1" class="rounded-circle me-1 border border-white" alt="User 1">
                                        <img src="https://i.pravatar.cc/32?img=2" class="rounded-circle me-1 border border-white" alt="User 2">
                                    </div>
                                    <!-- Date -->
                                    <small class="text-muted">
                                        <i data-feather="calendar"></i>
                                        <span th:text="${event.getStartDate().getGermanTime()}"></span>
                                    </small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
</body>


<form th:method="post" th:action="@{/event/create}">

    <div class="modal fade" id="create">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Termin erstellen</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row mb-3 align-items-center">
                        <label for="titel" class="col-sm-2 col-form-label">Titel</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="titel" name="titel" required>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="eventType" class="col-sm-2 col-form-label">Event Type</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="eventType" name="eventType">
                                <option th:each="t:${types}" th:text="${t.label}" th:value="${t}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="startDate" class="col-sm-2 col-form-label">Start-Datum</label>
                        <div class="col-sm-10">
                            <input type="datetime-local" class="form-control" id="startDate"
                                   name="startDate">
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="endDatum" class="col-sm-2 col-form-label">End-Datum</label>
                        <div class="col-sm-10">
                            <input type="datetime-local" class="form-control" id="endDatum"
                                   name="endDate">
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="deadline" class="col-sm-2 col-form-label">Anmelde-Schluss</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="deadline" name="deadline">
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-success">Speichern</button>

                </div>

            </div>
        </div>
    </div>
</form>

<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/js/main.js}"></script>
<div th:insert="~{fragments :: script}"></div>
</html>
