<!-- templates/fragments/eventNav.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<!-- Definiere hier das Fragment „eventNav“ mit den Parametern s und event -->

<div th:fragment="header (name)">
    <header class="page-header page-header-dark bg-info mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <span class="page-header-icon text-white"><i data-feather="user"></i></span>
                            <span th:text="'Personalakte von ' + ${name}"></span>
                        </h1>
                        <div class="page-header-subtitle">Verschaffe dir einen Überblick über die Einträge deines Teams.</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<div th:fragment="nav (s, id)">
    <nav class="nav nav-pills nav-fill mb-3">
        <a th:class="${s == 'overview'} ? 'nav-link active bg-info' : 'nav-link text-info'"
           th:href="@{/personal(q='profil', s='overview', id=${id})}">
            <i class="mdi mdi-home me-1"></i>
            Übersicht</a>
        <a th:class="${s == 'contact'} ? 'nav-link active bg-info' : 'nav-link text-info'"
           th:href="@{/personal(q='profil', s='contact', id=${id})}">
            <i class="mdi mdi-contacts me-1"></i>
            Kontakt</a>
    </nav>
</div>

</html>
