<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:fragment="html_head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <title th:text="'CMS | ' + ${session.serviceName}"></title>

    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon-96x96.ico}">
    <link rel="stylesheet" th:href="@{/dist/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/atruvia.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css"/>

    <style>
        .fill { min-width: 150px; background-color: lightgray; }
        .sidenav-menu-heading { margin-bottom: 0 !important; padding-bottom: 0 !important; }
    </style>
</head>

<body>
<!-- Top Navigation -->
<nav th:fragment="topnav"
     class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle">
        <i data-feather="menu"></i>
    </button>
    <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/">
        <span>CMS</span>
    </a>

    <form class="form-inline me-auto d-none d-lg-block me-3" th:action="@{/search}" th:method="post">
        <div class="input-group input-group-joined input-group-solid">
            <input class="form-control pe-0" type="search" placeholder="Suchen" aria-label="Search" required name="search"/>
            <div class="input-group-text"><i data-feather="search"></i></div>
        </div>
    </form>

    <ul class="navbar-nav align-items-center ms-auto">
        <!-- hier ggf. weitere Menü-Einträge -->
    </ul>
</nav>

<!-- Sidebar -->
<div th:fragment="sidebar" id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading">Core</div>
                <!-- Sidenav Accordion (Dashboard)-->

                <a class="nav-link" href="/dashboard"><div class="nav-link-icon"><i data-feather="home"></i></div>Startseite</a>
                <a class="nav-link disabled" href="/sFixO"><div class="nav-link-icon">
                    <i data-feather="archive"></i></div>SFixO
                    <span class="badge bg-danger-soft text-danger ms-auto">Deaktiviert</span>
                </a>
                <a class="nav-link" href="/workflow/dashboard">
                    <div class="nav-link-icon"><i data-feather="pocket"></i></div>Deine Workflows
                    <span class="badge bg-warning-soft text-warning ms-auto" th:text="${session.openWorkflows + ' offen'}"></span>
                </a>
                <a class="nav-link" href="/liturgie/request">
                    <div class="nav-link-icon"><i data-feather="calendar"></i></div>GoDi-Abfrage
                </a>

                <div th:if="${session.fRank >= 1}">
                    <div class="sidenav-menu-heading">Organisation</div>
                    <a class="nav-link" href="/personal"><div class="nav-link-icon"><i data-feather="user"></i></div>Personen</a>
                    <a class="nav-link" href="/liturgie"><div class="nav-link-icon"><i data-feather="list"></i></div>Gottesdienste</a>
                    <a class="nav-link" href="/event"><div class="nav-link-icon"><i data-feather="calendar"></i></div>Kalender</a>
                    <a class="nav-link" href="/workflow"><div class="nav-link-icon"><i data-feather="zap"></i></div>Workflows</a>
                    <a class="nav-link" href="/finance"><div class="nav-link-icon"><i data-feather="layout"></i></div>Finanzen</a>
                </div>
            </div>
        </div>
        <!-- Sidenav Footer-->
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Angemeldet als:</div>
                <div class="sidenav-footer-title" th:if="${session.serviceName != null}" th:text="${session.sessionUser.firstName() + ' ' + session.sessionUser.lastName()}"></div>
                <div class="sidenav-footer-title" th:if="${session.serviceName == null}" th:text="'Unbekannter User'"></div>
                <div class="sidenav-footer-subtitle" th:text="${session.tenantName}"></div>
            </div>
        </div>
    </nav>
</div>

<!-- Footer -->
<footer th:fragment="footer" class="footer-admin mt-auto footer-light">
    <div class="container-xl px-4">
        <div class="row">
            <div class="col-md-6 small">Copyright &copy; Lucas Helfer 2025</div>
            <div class="col-md-6 text-md-end small">
                <a href="#!">Privacy Policy</a>
                &middot;
                <a href="#!">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>

<!-- Script Fragment -->
<div th:fragment="script">
    <!-- CSRF Hidden Inputs (Fix für sendQuickUpload etc.) -->
    <input type="hidden" id="csrfHeader" th:value="${_csrf.headerName}">
    <input type="hidden" id="csrfToken" th:value="${_csrf.token}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>

    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/dist/js/scripts.js}"></script>
    <script>
        if (window.feather) { feather.replace(); }
    </script>
</div>

</body>
</html>
