<!-- templates/fragments/eventNav.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<!-- Definiere hier das Fragment „eventNav“ mit den Parametern s und event -->

<div th:fragment="nav (q)">
    <nav class="nav nav-pills nav-fill mb-3">
        <a th:class="${q == 'list'} ? 'nav-link active bg-pink' : 'nav-link text-pink'"
           th:href="@{/liturgie(q='list')}">
            <i class="mdi mdi-home me-1"></i>
            Übersicht</a>
        <a th:class="${q == 'request'} ? 'nav-link active bg-pink' : 'nav-link text-pink'"
           th:href="@{/liturgie(q='request')}">
            <i class="mdi mdi-account-question me-1"></i>
            Abfragen</a>
    </nav>
</div>
</html>
