<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body>

    <img th:src="${img}" alt="..."/>
<br>
<span>Hey zusammen, hier euer Weekly Update ☀🌅</span><br><br>
<span>🕓Gottesdienste:</span><br>
<section th:each="e:${events}">
    <span th:text="${e.getStartDate().getGermanLongDate()}"></span><br>
    <span th:text="${e.getScheduledPersonsInfo()}"></span><br><br>

</section>

<span>Euch eine Gute Woche,</span><br>
<span>Euere Teamer</span>

</body>
</html>