<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head"></head>
<body class="nav-fixed">
<nav th:insert="fragments :: topnav"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="fragments :: sidebar"></div>
    <div id="layoutSidenav_content">
        <main class="bg-white h-100">

            <nav class="navbar navbar-light bg-light px-1 ">

                <div class="d-flex">

                    <a class="btn btn-outline-white border-light d-block text-black" th:href="'/personal?q=profil&id=' + ${person.getId()}">
                        <i data-feather="arrow-left" class="mb-2 text-primary"
                           style="width: 22px!important;height: 22px!important;"></i><br>
                        <span>Zurück</span>
                    </a>

                    <div class="vr"></div>
                    <button class="btn btn-outline-white border-light d-block text-black" data-bs-toggle="modal"
                            data-bs-target="#create">
                        <i data-feather="plus" class="text-orange mb-2"
                           style="width: 22px!important;height: 22px!important;"></i><br>
                        <span>Hinzufügen</span>
                    </button>

                </div>
            </nav>

            <div class="container-fluid px-4 h-100 mt-3">

                <div class="card shadow-none mb-3">

                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-1 d-xl-block d-none">
                                <div class="d-flex justify-content-center h-100 w-100 text-center">
                                    <img class="img-account-profile rounded-circle m-4"
                                         th:src="${person.getImgAdress()}" alt=""
                                         style="max-width: 80px; max-height: 80px">
                                </div>
                            </div>
                            <div class="col-xl-10 col-12">
                                <div class=" p-3">
                                    <div class="d-flex align-items-center">
                                        <h1 style="line-height: 0!important;" th:text="${person.getReadName()}"></h1>
                                        <span style="margin-right: 10px"></span>
                                        <h2 class="badge rounded-pill bg-success" th:if="${person.isActive()}">
                                            Aktiv</h2>
                                        <h2 class="badge rounded-pill bg-danger" th:unless="${person.isActive()}">
                                            Nicht Aktiv</h2>
                                    </div>

                                    <div class="d-flex align-items-center p-0">
                                        <span class="mdi mdi-bag-suitcase "> <span
                                                th:text="${person.getType()}"></span></span>
                                        <span style="margin-right: 10px"></span>
                                        <span class="mdi mdi-account-group "> <span
                                                th:text="${person.getTenant().getName()}"></span></span>
                                    </div>

                                    <p>Onboarding seit XX.XX.XXXX | Obermessdiener: <a href="#">Lucas Helfer</a></p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="card shadow-none mb-3">
                    <div class="card-header " th:text="${person.getFirstname()+' ist Connected mit: '}">
                    </div>
                    <div class="card-body text-center" id="load">
                                <span class="spinner-border card-img"
                                      style="min-height: 200px; min-width: 200px;"></span>
                    </div>
                    <div class="card-body d-none" id="content" style="overflow-y: scroll">

                        <table id="table_id2" class="display" style="min-width:100%; max-width: 100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Typ</th>
                                <th>Personen-Typ</th>
                                <th>Handy-Nr.</th>
                                <th>Festnetz</th>
                                <th>Mail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c:${person.getPersonConnections()}">
                                <td>
                                    <a class="d-flex align-items-center"
                                       th:href="'/personal?q=profil&s=1&id=' + ${c.getSubPerson().getId()}">
                                        <div class="avatar avatar-sm me-3 bg-gray-200"><img
                                                class="avatar-img img-fluid"
                                                th:src="${c.getSubPerson().getImgAdress()}"
                                                alt=""/></div>
                                        <span th:text="${c.getSubPerson().getLastname() + ', ' + c.getSubPerson().getFirstname()}"></span>
                                    </a>
                                </td>
                                <td th:text="${c.getSubPerson().getType()}"></td>
                                <td th:text="${c.getConnectionType().getName()}"></td>
                                <td th:text="${c.getSubPerson().getMobile()}"></td>
                                <td th:text="${c.getSubPerson().getPhone()}"></td>
                                <td th:text="${c.getSubPerson().getMail()}"></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>


            </div>
        </main>
        <footer th:insert="fragments :: footer"></footer>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="create">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <form method="post" action="/personal/connection/create">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="text-center">

                        <script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
                        <lord-icon
                                src="https://cdn.lordicon.com/xzksbhzh.json"
                                trigger="loop"
                                delay="2000"
                                style="width:100px;height:100px">
                        </lord-icon>
                        <h4>Connection anlegen</h4>
                        <h6>Hier kannst du eine neue Verbindung anlegen. </h6>

                    </div>

                    <div class="m-2">
                        <div class="row mb-1">

                            <div class="col">

                                <div class="form-floating">
                                    <select class="form-select" id="sel1" name="sub">
                                        <option th:each="p:${persons}" th:value="${p.getId()}" th:text="${p.getReadName()}"></option>
                                    </select>
                                    <label for="sel1" class="form-label">Person:</label>
                                </div>

                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select" id="t" name="type">
                                        <option th:each="t:${types}" th:value="${t}" th:text="${t.getName()}"></option>
                                    </select>
                                    <label for="t" class="form-label">Verbindung:</label>
                                </div>

                            </div>

                        </div>
                    </div>
                    <input class="d-none invisible" th:value="${person.getId()}" readonly name="host">
                    <div class="d-flex">

                        <button type="button" class="btn btn-secondary btn-block flex-fill m-1" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button type="submit" class="btn btn-success btn-block flex-fill m-1">Speichern</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div th:insert="fragments :: script"></div>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/script/main.js}"></script>
<script th:src="@{/script/imports/jquery.min.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/script/main.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.10/js/dataTables.responsive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
          $('#table_id2').DataTable({
            language: {
                "decimal": ",",
                "thousands": ".",
                "infoPostFix": "",
                "infoFiltered": "(gefiltert aus insgesamt _MAX_ Einträgen)",
                "loadingRecords": "Bitte warten Sie - Daten werden geladen ...",
                "lengthMenu": "Anzeigen von _MENU_ Einträgen",
                "paginate": {
                    "first": "Erste",
                    "last": "Letzte",
                    "next": "Nächste",
                    "previous": "Zurück"
                },
                "processing": "Verarbeitung läuft ...",
                "search": "Suche:",
                "searchPlaceholder": "Suchbegriff",
                "zeroRecords": "Keine Daten! Bitte ändern Sie Ihren Suchbegriff.",
                "emptyTable": "Keine Einträge zum Anzeigen vorhanden",
                "aria": {
                    "sortAscending": ": aktivieren, um Spalte aufsteigend zu sortieren",
                    "sortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
                },
                "info": "Zeigt _START_ bis _END_  von _TOTAL_ Einträgen",
                "infoEmpty": "Keine Einträge zum Anzeigen vorhanden",
                "select": {
                    "rows": {
                        _: '%d Zeilen ausgewählt',
                        0: 'Zeile anklicken um auszuwählen',
                        1: 'Eine Zeile ausgewählt'
                    }
                }
            },  search: false,
        });
        setTimeout(function () {
            document.getElementById("content").classList.remove("d-none");
            document.getElementById("load").classList.add("d-none");
        }, 10);
    });
</script>
</body>
</html>
