<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head"></head>
<body class="nav-fixed">
<nav th:insert="fragments :: topnav"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="fragments :: sidebar"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="users"></i></div>
                                    Personal Auswertungen
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid px-4">

                <div class="row">

                    <div class="col-xl-4 col-12">
                        <div class="card shadow-none mb-3">
                            <div class="card-header">Datenschutz</div>
                            <div class="card-body">
                                <div class="chart-pie mb-4">
                                    <canvas id="privacyChart" width="100%" height="50"></canvas>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <span class="mdi mdi-circle text-success"></span>
                                <span th:text="'Abgeschlossen: ' + ${completedPrivacy}"></span>
                                <span class="mdi mdi-circle text-danger"></span>
                                <span th:text="'Offen: ' + ${openPrivacy}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="card shadow-none mb-3">
                            <div class="card-header">Data Check</div>
                            <div class="card-body">
                                <div class="chart-pie mb-4">
                                    <canvas id="dataCheckChart" width="100%" height="50"></canvas>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <span class="mdi mdi-circle text-success"></span>
                                <span th:text="'Abgeschlossen: ' + ${completedDataCheck}"></span>
                                <span class="mdi mdi-circle text-danger"></span>
                                <span th:text="'Offen: ' + ${openDataCheck}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="card shadow-none mb-3">
                            <div class="card-header">Dienstplan</div>
                            <div class="card-body">
                                <div class="chart-pie mb-4">
                                    <canvas id="workSchedulerChart" width="100%" height="50"></canvas>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <span class="mdi mdi-circle text-success"></span>
                                <span th:text="'Abgeschlossen: ' + ${completedWorkScheduler}"></span>
                                <span class="mdi mdi-circle text-danger"></span>
                                <span th:text="'Offen: ' + ${openWorkScheduler}"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </main>
        <footer th:insert="fragments :: footer"></footer>
    </div>
</div>
<div th:insert="fragments :: script"></div>
</body>


<script th:src="@{/script/imports/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<div id="data">
    <p class="invisible d-none" id="active" th:text="${active}"></p>
    <p class="invisible d-none" id="inactive" th:text="${inactive}"></p>

    <p class="invisible d-none" id="completedPrivacy" th:text="${completedPrivacy}"></p>
    <p class="invisible d-none" id="openPrivacy" th:text="${openPrivacy}"></p>

    <p class="invisible d-none" id="completedDataCheck" th:text="${completedDataCheck}"></p>
    <p class="invisible d-none" id="openDataCheck" th:text="${openDataCheck}"></p>

    <p class="invisible d-none" id="completedWorkScheduler" th:text="${completedWorkScheduler}"></p>
    <p class="invisible d-none" id="openWorkScheduler" th:text="${openWorkScheduler}"></p>
</div>


<script>



    if(document.getElementById('completedPrivacy')){
        // Set new default font family and font color to mimic Bootstrap's default styling
        (Chart.defaults.global.defaultFontFamily = "Metropolis"),
            '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = "#858796";

        let completedPrivacy = document.getElementById('completedPrivacy').innerHTML;
        let openPrivacy = document.getElementById('openPrivacy').innerHTML;

        let ctx = document.getElementById("privacyChart");
        let myPieChart = new Chart(ctx, {
            type: "doughnut",
            data: {
                labels: ["Abgeschlossen", "Offen"],
                datasets: [{
                    data: [completedPrivacy, openPrivacy],
                    backgroundColor: [
                        "green",
                        "red"
                    ],
                    hoverBackgroundColor: [
                        "green",
                        "red"
                    ],
                    hoverBorderColor: "rgba(234, 236, 244, 1)"
                }]
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: "#dddfeb",
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 80
            }
        });
    }

    if(document.getElementById('completedDataCheck')){
        // Set new default font family and font color to mimic Bootstrap's default styling
        (Chart.defaults.global.defaultFontFamily = "Metropolis"),
            '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = "#858796";

        let completedDataCheck = document.getElementById('completedDataCheck').innerHTML;
        let openDataCheck = document.getElementById('openDataCheck').innerHTML;

        let ctx = document.getElementById("dataCheckChart");
        let myPieChart = new Chart(ctx, {
            type: "doughnut",
            data: {
                labels: ["Abgeschlossen", "Offen"],
                datasets: [{
                    data: [completedDataCheck, openDataCheck],
                    backgroundColor: [
                        "green",
                        "red"
                    ],
                    hoverBackgroundColor: [
                        "green",
                        "red"
                    ],
                    hoverBorderColor: "rgba(234, 236, 244, 1)"
                }]
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: "#dddfeb",
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 80
            }
        });
    }

    if(document.getElementById('completedWorkScheduler')){
        // Set new default font family and font color to mimic Bootstrap's default styling
        (Chart.defaults.global.defaultFontFamily = "Metropolis"),
            '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = "#858796";

        let completedWorkScheduler = document.getElementById('completedWorkScheduler').innerHTML;
        let openWorkScheduler = document.getElementById('openWorkScheduler').innerHTML;

        let ctx = document.getElementById("workSchedulerChart");
        let myPieChart = new Chart(ctx, {
            type: "doughnut",
            data: {
                labels: ["Abgeschlossen", "Offen"],
                datasets: [{
                    data: [completedWorkScheduler, openWorkScheduler],
                    backgroundColor: [
                        "green",
                        "red"
                    ],
                    hoverBackgroundColor: [
                        "green",
                        "red"
                    ],
                    hoverBorderColor: "rgba(234, 236, 244, 1)"
                }]
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: "#dddfeb",
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 80
            }
        });
    }

</script>

</html>