<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head"></head>
<body class="nav-fixed">
<nav th:insert="fragments :: topnav"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="fragments :: sidebar"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="aperture"></i></div>
                                    Gottesdienste
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-xl-10 px-4">
                <div th:if="${session.sessionUser.hasPermission('*')}" class="card mb-3" style="min-height: 100%!important;">
                    <div class="card-header">Dienstplan-Abfrage</div>
                    <div class="card-body" id="content">

                        <form th:action="@{/personal/query/workScheduler}" method="post" th:unless="${active}">
                            <div class="row">
                                <div class="col-xl-10 col-12">
                                    <label for="sel1" class="form-label">Start Monat auswählen:</label>
                                    <select class="form-select" id="sel1" name="month">
                                        <option th:each="m:${months}" th:text="${m.getName()}"
                                                th:value="${m.getNumber()}"></option>
                                    </select>
                                </div>
                                <div class="col-xl-2 col-12">
                                    <div class="d-grid">
                                        <label for="start" class="form-label">Abfrage starten:</label>
                                        <button type="submit" class="btn btn-primary btn-block" id="start">starten</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <section th:if="${active}">
                            <p th:text="'Abfrage läuft aktuell ab ' + ${startMonth}"></p>
                        </section>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Übersicht</div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Dienstplan</th>
                                <th>Datenschutz</th>
                                <th>Datacheck</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="p:${persons}">
                                <td th:text="${p.getName()}"></td>

                                <td th:if="${p.absolvedWorkScheduler()}" class="bg-success" style="width: 5px !important;"></td>
                                <td th:unless="${p.absolvedWorkScheduler()}" class="bg-danger" style="width: 5px !important;"></td>

                                <td th:if="${p.absolvedPrivacy()}" class="bg-success" style="width: 5px !important;"></td>
                                <td th:unless="${p.absolvedPrivacy()}" class="bg-danger" style="width: 5px !important;"></td>

                                <td th:if="${p.absolvedCheck()}" class="bg-success" style="width: 5px !important;"></td>
                                <td th:unless="${p.absolvedCheck()}" class="bg-danger" style="width: 5px !important;"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:insert="fragments :: footer"></footer>
    </div>
</div>
<div th:insert="fragments :: script"></div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/script/main.js}"></script>

</body>
</html>