<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <span class="page-header-icon"><i data-feather="calendar"></i></span>
                                    Gottesdienst <span class="mdi mdi-arrow-right"></span><span>Export</span>
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <form th:method="get" th:action="@{/organisation/worship}">
                                    <select class="form-select" id="sel1" name="t" onChange="this.form.submit()">
                                        <option th:each="m:${selectMonths}" th:text="${m}" th:selected="${m.equals(monthName)}"></option>
                                    </select>
                                    <input class="d-none" value="export" name="q" readonly>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-fluid px-4 mt-4">
                <div class="card mb-2">
                    <div class="card-header">
                        Worship Export <span class="mdi mdi-arrow-right"></span> <span th:text="${monthName}"></span>
                    </div>
                    <div class="card-body text-center" id="load">
                        <span class="spinner-border card-img" style="min-height: 200px; min-width: 200px;"></span>
                    </div>

                    <div class="card-body d-none" id="content">
                        <table id="table_id" class="display" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Gottesdienst</th>
                                <th>Typ</th>
                                <th>Datum</th>
                                <th>Eingeteilt</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="e:${events}">
                                <td th:text="${e.getDescription()}"></td>
                                <td th:text="${e.getInfo()}"></td>
                                <td th:text="${e.getStartDate().getGermanLongDate()}"></td>
                                <td th:text="${e.getScheduledPersonsInfo()}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </main>


        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<div th:insert="~{fragments :: script}"></div>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/script/main.js}"></script>
<script th:src="@{/script/imports/jquery.min.js}"></script>
<script th:src="@{/script/imports/jquery.dataTables.min.js}"></script>
<div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
</div>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            language: {
                "decimal": ",",
                "thousands": ".",
                "infoPostFix": "",
                "infoFiltered": "(gefiltert aus insgesamt _MAX_ Einträgen)",
                "loadingRecords": "Bitte warten Sie - Daten werden geladen ...",
                "lengthMenu": "Anzeigen von _MENU_ Einträgen",
                "paginate": {
                    "first": "Erste",
                    "last": "Letzte",
                    "next": "Nächste",
                    "previous": "Zurück"
                },
                "processing": "Verarbeitung läuft ...",
                "search": "Suche:",
                "searchPlaceholder": "Suchbegriff",
                "zeroRecords": "Keine Daten! Bitte ändern Sie Ihren Suchbegriff.",
                "emptyTable": "Keine Einträge zum Anzeigen vorhanden",
                "aria": {
                    "sortAscending": ": aktivieren, um Spalte aufsteigend zu sortieren",
                    "sortDescending": ": aktivieren, um Spalte absteigend zu sortieren"
                },
                "info": "Zeigt _START_ bis _END_  von _TOTAL_ Einträgen",
                "infoEmpty": "Keine Einträge zum Anzeigen vorhanden",
                "select": {
                    "rows": {
                        _: '%d Zeilen ausgewählt',
                        0: 'Zeile anklicken um auszuwählen',
                        1: 'Eine Zeile ausgewählt'
                    }
                }
            }, paging: false,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ]

        });
        document.getElementById("content").classList.remove("d-none");
        document.getElementById("load").classList.add("d-none");
    });
</script>

</body>
</html>
