<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-gradient-primary-to-secondary mb-4">
                <div class="container px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <span class="page-header-icon text-white"><i data-feather="zap"></i></span>
                                    <span>Workflows</span>
                                </h1>
                                <div class="page-header-subtitle">Workflows für deine Gruppe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->


            <div class="container px-4 mt-4">

                <div class="d-flex mt-3 mb-3">
                    <a class="btn bg-purple text-white btn-sm flex-fill m-1" href="/workflow">Zurück</a>
                </div>

                <div class="card">
                    <div class="card-header border-bottom">
                        <!-- Wizard navigation-->
                        <div class="nav nav-pills nav-justified flex-column flex-xl-row nav-wizard">
                            <!-- Wizard navigation item 1-->
                            <div th:class="${step == 1 ? 'nav-item nav-link active' : 'nav-item nav-link'}">
                                <div class="wizard-step-icon">1</div>
                                <div class="wizard-step-text">
                                    <div class="wizard-step-text-name">Workflow auswählen</div>
                                    <div class="wizard-step-text-details">Typ auswählen</div>
                                </div>
                            </div>
                            <!-- Wizard navigation item 2-->
                            <div th:class="${step == 2 ? 'nav-item nav-link active' : 'nav-item nav-link'}">
                                <div class="wizard-step-icon">2</div>
                                <div class="wizard-step-text">
                                    <div class="wizard-step-text-name">Personen verlinken</div>
                                    <div class="wizard-step-text-details">Wähle die Personen aus</div>
                                </div>
                            </div>
                            <!-- Wizard navigation item 3-->
                            <div th:class="${step == 3 ? 'nav-item nav-link active' : 'nav-item nav-link'}">
                                <div class="wizard-step-icon">3</div>
                                <div class="wizard-step-text">
                                    <div class="wizard-step-text-name">Zusatzinformationen</div>
                                    <div class="wizard-step-text-details">Füge ggf. weitere Informationen hinzu</div>
                                </div>
                            </div>
                            <!-- Wizard navigation item 4-->
                            <div th:class="${step == 4 ? 'nav-item nav-link active' : 'nav-item nav-link'}">
                                <div class="wizard-step-icon">4</div>
                                <div class="wizard-step-text">
                                    <div class="wizard-step-text-name">Überprüfen & Speichern</div>
                                    <div class="wizard-step-text-details">Änderungen überprüfen und einreichen</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- Wizard tab pane item 1-->
                            <div th:class="${step == 1 ? 'tab-pane py-5 py-xl-10 show active' : 'tab-pane py-5 py-xl-10'}">
                                <div class="row justify-content-center">
                                    <div class="col-xxl-6 col-xl-8">
                                        <h3 class="text-primary">Schritt 1</h3>
                                        <h5 class="card-title mb-4">Workflow auswählen</h5>
                                        <form action="/workflow/wizard" method="GET">

                                            <div class="form-check" th:each="t:${types}">
                                                <input type="radio" class="form-check-input" id="radio1" name="type" th:value="${t}" th:text="${t.getLabel()}" required/>
                                                <label class="form-check-label" for="radio1"></label>
                                            </div>

                                            <hr class="my-4" />
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-light disabled" type="button">Zurück</button>
                                                <button class="btn btn-primary" type="submit">Weiter</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Wizard tab pane item 2-->
                            <div th:class="${step == 2 ? 'tab-pane py-5 py-xl-10 show active' : 'tab-pane py-5 py-xl-10'}">
                                <div class="row justify-content-center">
                                    <div class="col-xxl-6 col-xl-8">
                                        <h3 class="text-primary">Step 2</h3>
                                        <h5 class="card-title mb-4">Enter your billing details</h5>
                                        <form th:action="@{/workflow/wizard}" method="get">
                                            <input type="hidden" th:name="type"
                                                   th:value="${workflowType}" />

                                            <div class="form-check" th:each="p : ${persons}">
                                                <!-- eindeutige id pro Checkbox -->
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       th:id="${'person_' + p.id}"
                                                       name="persons"
                                                       th:value="${p.id}" />
                                                <label class="form-check-label"
                                                       th:for="${'person_' + p.id}"
                                                       th:text="${p.firstName + ' ' + p.lastName}"></label>
                                            </div>

                                            <hr class="my-4" />
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-light disabled" type="button">Zurück</button>
                                                <button class="btn btn-primary" type="submit">Weiter</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Wizard tab pane item 3-->
                            <div th:class="${step == 3 ? 'tab-pane py-5 py-xl-10 show active' : 'tab-pane py-5 py-xl-10'}">
                                <div class="row justify-content-center">
                                    <div class="col-xxl-6 col-xl-8">
                                        <h3 class="text-primary">Step 3</h3>
                                        <h5 class="card-title mb-4">Choose when you want to receive email notifications</h5>
                                        <form>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" id="checkAccountChanges" type="checkbox" checked />
                                                <label class="form-check-label" for="checkAccountChanges">Changes made to your account</label>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" id="checkAccountGroups" type="checkbox" checked />
                                                <label class="form-check-label" for="checkAccountGroups">Changes are made to groups you're part of</label>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" id="checkProductUpdates" type="checkbox" checked />
                                                <label class="form-check-label" for="checkProductUpdates">Product updates for products you've purchased or starred</label>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" id="checkProductNew" type="checkbox" checked />
                                                <label class="form-check-label" for="checkProductNew">Information on new products and services</label>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" id="checkPromotional" type="checkbox" />
                                                <label class="form-check-label" for="checkPromotional">Marketing and promotional offers</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" id="checkSecurity" type="checkbox" checked disabled />
                                                <label class="form-check-label" for="checkSecurity">Security alerts</label>
                                            </div>
                                            <hr class="my-4" />
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-light" type="button">Previous</button>
                                                <button class="btn btn-primary" type="button">Next</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Wizard tab pane item 4-->
                            <div th:class="${step == 4 ? 'tab-pane py-5 py-xl-10 show active' : 'tab-pane py-5 py-xl-10'}">
                                <div class="row justify-content-center">
                                    <div class="col-xxl-6 col-xl-8">
                                        <h3 class="text-primary">Step 4</h3>
                                        <h5 class="card-title mb-4">Review the following information and submit</h5>
                                        <div class="row small text-muted">
                                            <div class="col-sm-3 text-truncate"><em>Username:</em></div>
                                            <div class="col">username</div>
                                        </div>
                                        <div class="row small text-muted">
                                            <div class="col-sm-3 text-truncate"><em>Name:</em></div>
                                            <div class="col">Valerie Luna</div>
                                        </div>
                                        <div class="row small text-muted">
                                            <div class="col-sm-3 text-truncate"><em>Organization Name:</em></div>
                                            <div class="col">Start Bootstrap</div>
                                        </div>
                                        <div class="row small text-muted">
                                            <div class="col-sm-3 text-truncate"><em>Location:</em></div>
                                            <div class="col">San Francisco, CA</div>
                                        </div>
                                        <div class="row small text-muted">
                                            <div class="col-sm-3 text-truncate"><em>Email Address:</em></div>
                                            <div class="col">name@example.com</div>
                                        </div>
                                        <div class="row small text-muted">
                                            <div class="col-sm-3 text-truncate"><em>Phone Number:</em></div>
                                            <div class="col">555-123-4567</div>
                                        </div>
                                        <div class="row small text-muted">
                                            <div class="col-sm-3 text-truncate"><em>Birthday:</em></div>
                                            <div class="col">06/10/1988</div>
                                        </div>
                                        <div class="row small text-muted">
                                            <div class="col-sm-3 text-truncate"><em>Credit Card Number:</em></div>
                                            <div class="col">**** **** **** 1111</div>
                                        </div>
                                        <div class="row small text-muted">
                                            <div class="col-sm-3 text-truncate"><em>Credit Card Expiration:</em></div>
                                            <div class="col">06/2024</div>
                                        </div>
                                        <hr class="my-4" />
                                        <div class="d-flex justify-content-between">
                                            <button class="btn btn-light" type="button">Previous</button>
                                            <button class="btn btn-primary" type="button">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>

</html>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
