<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>

            <div th:replace="~{person/fragments/personFragments :: header (${person.getName()})}"></div>
            <div class="container-fluid px-4">

                <div th:replace="~{person/fragments/personFragments :: nav(${step}, ${person.getId()})}"></div>
                <div class="card card-limit-height h-100">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-start gap-3">
                                <!-- Icon -->
                                <div class="bg-success-soft rounded-3 d-flex align-items-center justify-content-center"
                                     style="width: 48px; height: 48px;">
                                    <i data-feather="user" class="text-success fs-4"></i>
                                </div>

                                <!-- Text content -->
                                <div>
                                    <h5 class="mb-1 fw-semibold">
                                        <span th:text="${person.getName()}"></span>
                                        <span th:if="${person.getGender().toString().equals('MALE')}"
                                              class="mdi mdi-gender-male text-blue"></span>
                                        <span th:if="${person.getGender().toString().equals('FEMALE')}"
                                              class="mdi mdi-gender-female text-pink"></span>
                                        <span th:if="${person.getRank().toString().equals('OBERMESSDIENER')}"
                                              class="mdi mdi-shield-account text-red"></span>
                                        <span th:if="${person.getRank().toString().equals('LEITUNGSTEAM')}"
                                              class="mdi mdi-account-group text-yellow"></span>
                                        <span th:if="${person.getRank().toString().equals('MESSDIENER')}"
                                              class="mdi mdi-circle text-info"></span>
                                        <span th:if="${person.isActive()}"
                                              class="mdi mdi-check-circle text-success"></span>
                                        <span th:unless="${person.isActive()}"
                                              class="mdi mdi-account-alert text-danger"></span>
                                    </h5>
                                    <div class="d-flex flex-wrap gap-3 small text-muted">
                                        <div>Letztes Update:
                                            <span th:text="${person.getLastUpdate().getGermanTime()}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body clamp-description">
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-xl-4 col-12">
                                    <h4>Status</h4>

                                    <form method="post" action="/personal/state" id="stateForm">
                                        <input type="hidden" name="id" th:value="${person.id}" />
                                        <div class="d-flex flex-wrap">
                                            <div class="form-check m-1">
                                                <input type="radio" class="form-check-input" id="radio1" name="state"
                                                       value="active"
                                                       th:checked="${person.isActive()}"
                                                       onchange="document.getElementById('stateForm').submit();">
                                                <label class="form-check-label" for="radio1">Die Person ist aktive
                                                    Messdiener*in.</label>
                                            </div>
                                            <div class="form-check m-1">
                                                <input type="radio" class="form-check-input" id="radio2" name="state"
                                                       value="inactive"
                                                       th:checked="!${person.isActive()}"
                                                       onchange="document.getElementById('stateForm').submit();">
                                                <label class="form-check-label" for="radio2">Die Person ist nicht
                                                    aktiv.</label>
                                            </div>
                                        </div>
                                    </form>
                                    <p>Eine aktive Person kann sich bei der Anwendung anmelden und alle verfügbaren
                                        Funktionen basierend seiner Rollen und aktiven Modulen innerhalb der Anwendung
                                        benutzen. Eine inaktive Person kann sich nicht bei der Anwendung anmelden, d.h.
                                        diese auch nicht Nutzen. Die Daten von Inaktiven Benutzer werden nach einem
                                        Monat
                                        gelöscht.</p>

                                </div>
                                <div class="col-xl-6 col-12">
                                    <div class="row mb-1 align-items-center">
                                        <label for="username" class="col-sm-2 col-form-label">Benutzername</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm" id="username"
                                                   placeholder="Enter username"
                                                   name="username" th:value="${person.getUsername()}">
                                        </div>
                                    </div>
                                    <div class="row mb-1 align-items-center">
                                        <label for="password" class="col-sm-2 col-form-label">Passwort</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm" id="password"
                                                   placeholder="Enter password"
                                                   name="password" th:value="${person.getPassword()}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>
</html>
