<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head"></head>
<body class="nav-fixed">
<nav th:insert="fragments :: topnav"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="fragments :: sidebar"></div>
    <div id="layoutSidenav_content">
            <main class="h-75">
                <form class="h-100" th:method="post" th:action="@{/finance/save}">
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-fluid px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="file"></i></div>
                                            Beleg erfassen
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <a class="btn btn-sm btn-light text-dark" th:href="'/finance/file/delete?id=' + ${entry.getId()}" th:if="${entry.isEditableByCreator()}">
                                            <span class="me-1 mdi mdi-file-remove"></span>
                                            Datei löschen
                                        </a>
                                        <a class="btn btn-sm btn-light text-dark" data-bs-toggle="modal" data-bs-target="#delete" th:if="${entry.isEditableByCreator()}">
                                            <span class="me-1 mdi mdi-delete"></span>
                                            Verwerfen
                                        </a>
                                        <button class="btn btn-sm btn-success" type="submit"  th:if="${entry.isEditableByCreator()}">
                                            <span class="me-1 mdi mdi-content-save"></span>
                                            Speichern
                                        </button>
                                        <a class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#send"  th:if="${entry.isEditableByCreator()} and ${entry.canSend()}">
                                            <span class="me-1 mdi mdi-check"></span>
                                            Einreichen
                                        </a>

                                        <a class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#check"  th:if="${entry.canCheck()}">
                                            <span class="me-1 mdi mdi-check"></span>
                                            Überprüfen
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-fluid h-75">

                        <div class="alert alert-success alert-dismissible mb-3" th:if="${textShow}">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <span th:text="${text}"></span>
                        </div>

                        <div class="card h-100">

                            <div class="card-body h-100">
                                <div class="row h-100">
                                    <div class="col-xl-8 col-12 h-100">

                                        <div class="d-flex h-100 w-100 align-items-center justify-content-center" th:if="${entry.getUrl().isEmpty()}"  >

                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <img src="https://my.sevdesk.de/images/voucher-upload.svg" class="card-img-top w-50">
                                                    </div><br>
                                                    <h4 class="text-center">Akzeptierte Formate</h4>
                                                    <b>PDF:</b> Ein- oder mehrseitige Datei<br>
                                                    <b>PNG:</b> Einzelne Datei<br>
                                                    <b>JPG:</b> Einzelne Datei<br>
                                                    <hr>
                                                    Die Datei darf nicht größer als 5 MB sein
                                                </div>
                                                <div class="card-footer text-center">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#files" type="button">Datei auswählen</a>
                                                </div>
                                            </div>


                                        </div>

                                        <img th:src="${entry.getUrl()}" class="img-fluid"
                                             th:if="${!entry.getUrl().isEmpty()} and ${!entry.getUrl().endsWith('.pdf')}">
                                        <embed name="plugin"
                                               th:src="${entry.getUrl()}"
                                               type="application/pdf" class="w-100 h-100"
                                               th:if="${!entry.getUrl().isEmpty()} and ${entry.getUrl().endsWith('.pdf')}">

                                    </div>
                                    <div class="col-xl-4 col-12 h-100">

                                        <section th:if="${entry.isEditableByCreator()}">
                                            <div class="row">
                                                <div class="col-xl-6 col-12">
                                                    <span>Belegart</span><br>
                                                    <div class="mb-3 d-flex">
                                                        <input type="radio" class="btn-check" name="documentType" id="documentType1" required  th:readonly="${entry.isEditableByCreator()}"
                                                               autocomplete="EXPENSE" value="EXPENSE" th:checked="${entry.getDocumentType().toString().equals('EXPENSE')}">
                                                        <label class="btn btn-outline-primary btn-block flex-fill m-1" for="documentType1">Ausgabe</label>

                                                        <input type="radio" class="btn-check" name="documentType" id="documentType2" th:readonly="${entry.isEditableByCreator()}"
                                                               autocomplete="REVENUE" value="REVENUE" th:checked="${entry.getDocumentType().toString().equals('REVENUE')}">
                                                        <label class="btn btn-outline-primary flex-fill m-1" for="documentType2">Einnahme</label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-12">
                                                    <span>Kasse</span><br>
                                                    <div class="mb-3 d-flex">


                                                        <input type="radio" class="btn-check" name="cashRegisterType" id="cashRegisterType1" required
                                                               autocomplete="CASH" value="CASH" th:checked="${entry.getCashRegisterType().toString().equals('CASH')}">
                                                        <label class="btn btn-outline-primary flex-fill m-1" for="cashRegisterType1">Barkasse</label>

                                                        <input type="radio" class="btn-check" name="cashRegisterType" id="cashRegisterType2"
                                                               autocomplete="ACCOUNT" value="ACCOUNT" th:checked="${entry.getCashRegisterType().toString().equals('ACCOUNT')}">
                                                        <label class="btn btn-outline-primary flex-fill m-1" for="cashRegisterType2">Konto</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-6 col-12">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="blNr" placeholder=""
                                                               name="blNr" th:value="${entry.getDocumentNumber()}">
                                                        <label for="blNr">Beleg-Nummer</label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-12">
                                                    <div class="form-floating mb-3">
                                                        <input type="date" class="form-control" id="blD" placeholder=""
                                                               name="blD" th:value="${entry.getDocumentDate().getEnglishDate()}">
                                                        <label for="blD">Beleg-Datum</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-12">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="blP" placeholder=""
                                                               name="blP">
                                                        <label for="blP">Person verknüpfen</label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-12">
                                                    <div class="form-floating mb-3">
                                                        <select class="form-select" id="sel1" name="blC">
                                                            <option></option>
                                                            <option th:value="'000 - KEINE'" th:text="'000 - KEINE'" th:selected="${entry.getCostCenter().equals('000 - KEINE')}"></option>
                                                            <option th:value="'001 - Leitungsteam'" th:text="'001 - Leitungsteam'" th:selected="${entry.getCostCenter().equals('001 - Leitungsteam')}"></option>
                                                            <option th:value="'002 - Pfarrei'" th:text="'002 - Pfarrei'" th:selected="${entry.getCostCenter().equals('002 - Pfarrei')}"></option>
                                                            <option th:value="'003 - Aktionen'" th:text="'003 - Aktionen'" th:selected="${entry.getCostCenter().equals('003 - Aktionen')}"></option>
                                                            <option th:value="'004 - Spenden'" th:text="'004 - Spenden'" th:selected="${entry.getCostCenter().equals('004 - Spenden')}"></option>
                                                            <option th:value="'005 - Teilnahme Gebüren'" th:text="'005 - Teilnahme Gebüren'"  th:selected="${entry.getCostCenter().equals('005 - Teilnahme Gebüren')}"></option>
                                                        </select>
                                                        <label for="sel1" class="form-label">Kostenstelle</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="blB" placeholder="" name="blB" th:value="${entry.getDescription()}" required>
                                                <label for="blB">Beschreibung</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="blV" placeholder="" name="blV" th:value="${entry.getValueString()}" pattern="\d+\.\d{2}" title="Bitte gebe den Betrag getrennt durch einen Punkt an.">
                                                <label for="blV">Betrag</label>
                                            </div>
                                        </section>

                                        <table class="table">
                                            <tbody>

                                            <tr th:unless="${entry.isEditableByCreator()}">
                                                <td>Belegart:</td>
                                                <td th:text="${entry.getDocumentType().getText()}"></td>
                                            </tr>
                                            <tr th:unless="${entry.isEditableByCreator()}">
                                                <td>Kasse:</td>
                                                <td th:text="${entry.getCashRegisterType().getText()}"></td>
                                            </tr>
                                            <tr th:unless="${entry.isEditableByCreator()}">
                                                <td>Person:</td>
                                                <td th:text="${entry.getDocumentPerson().toString()}"></td>
                                            </tr>
                                            <tr th:unless="${entry.isEditableByCreator()}">
                                                <td>Kostenstelle:</td>
                                                <td th:text="${entry.getCostCenter()}"></td>
                                            </tr>
                                            <tr th:unless="${entry.isEditableByCreator()}">
                                                <td>Beschreibung:</td>
                                                <td th:text="${entry.getDescription()}"></td>
                                            </tr>
                                            <tr th:unless="${entry.isEditableByCreator()}">
                                                <td>Betrag:</td>
                                                <td th:text="${entry.getValue()} + ' €'"></td>
                                            </tr>

                                            <tr>
                                                <td>Status:</td>
                                                <td><span th:class="${entry.getState().getTClass()}" th:text="${entry.getState().getText()}"></span></td>
                                            </tr>
                                            <tr>
                                                <td>Ersteller:</td>
                                                <td th:text="${entry.getCreatorUser().getReadName()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Bearbeiter:</td>
                                                <td>
                                                    <span th:if="${entry.getEditor().isPresent()}" th:text="${entry.getEditorUser().orElseThrow().getReadName()}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Datum:</td>
                                                <td th:text="${entry.getCreationDate().getGermanDate()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Vermerk:</td>
                                                <td th:text="${entry.getNote()}"></td>
                                            </tr>

                                            </tbody>
                                        </table>

                                        <!--

                                        <div class="d-grid">

                                            <button class="btn btn-block btn-danger">Ausstehend</button>
                                            <button class="btn btn-block btn-success">Abgeschlossen</button>
                                            <button class="btn btn-block btn-black">Verworfen</button>
                                            <button class="btn btn-block btn-info">Warten auf Überweisung</button>

                                        </div>

                                        -->

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <input class="d-none invisible" readonly th:value="${entry.getId()}" name="id">
                </form>
            </main>
        <footer th:insert="fragments :: footer"></footer>
    </div>
</div>
<div th:insert="fragments :: script"></div>
</body>


<form th:method="post" th:action="@{/finance/save/file}" enctype="multipart/form-data">
    <div class="modal" id="files">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="text-center">

                        <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
                        <lord-icon
                                src="https://cdn.lordicon.com/xzksbhzh.json"
                                trigger="loop"
                                delay="4000"
                                style="width:100px;height:100px">
                        </lord-icon>
                        <h4>File Upload</h4>
                        <h6>Lade eine Datei hoch</h6>
                    </div>

                    <div class=" mb-3 mt-3">
                        <input name="uuid" th:value="${entry.getId()}" class="d-none">
                        <input type="file" class="form-control" id="name" placeholder="Enter email" name="file">
                    </div>

                    <div class="d-flex">

                        <button type="button" class="btn btn-secondary btn-block flex-fill m-1" data-bs-dismiss="modal">
                            Schließen
                        </button>

                        <button type="submit" class="btn btn-success btn-block flex-fill m-1">
                            Speichern
                        </button>

                    </div>
                </div>
            </div>


        </div>
    </div>
</form>

<div class="modal fade" id="delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <div class="text-center">

                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon
                            src="https://cdn.lordicon.com/inrunzby.json"
                            trigger="loop"
                            delay="4000"
                            colors="primary:#ffc738,secondary:#ffffff"
                            style="width:100px;height:100px">
                    </lord-icon>
                    <h4>Vorgang löschen</h4>
                    <h6>Bist du sicher, dass du diesen Vorgang löschen möchtest?<br>Diese Aktion kann nicht rückgängig gemacht werden!</h6>
                    <div class="d-flex">

                        <button type="button" class="btn btn-secondary btn-block flex-fill m-1" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <a type="button" class="btn btn-danger btn-block flex-fill m-1" th:href="'/finance/delete?id=' + ${entry.getId()}">Löschen</a>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="send">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <div class="text-center">

                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon
                            src="https://cdn.lordicon.com/hrqqslfe.json"
                            trigger="loop"
                            delay="4000"
                            colors="primary:#7aa141,secondary:#ebe6ef"
                            style="width:100px;height:100px">
                    </lord-icon>
                    <h4>Vorgang einreichen</h4>
                    <h6>Möchtest du den Vorgang einreichen?</h6>
                    <div class="d-flex">

                        <button type="button" class="btn btn-secondary btn-block flex-fill m-1" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <a th:href="'/finance/send?id=' + ${entry.getId()}" type="button" class="btn btn-success btn-block flex-fill m-1">Einreichen</a>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<form class="was-validated" th:method="post" th:action="@{/finance/check}">
    <div class="modal fade" id="check">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="text-center">

                        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                        <lord-icon
                                src="https://cdn.lordicon.com/guqkthkk.json"
                                trigger="loop"
                                delay="4000"
                                colors="primary:#7aa141,secondary:#ebe6ef"
                                style="width:100px;height:100px">
                        </lord-icon>
                        <h4>Antrag überprüfen</h4>
                        <input name="id" th:value="${entry.getId()}" readonly class="invisible">
                        <div class="d-flex mb-3">


                            <input type="radio" class="btn-check" name="mode" id="accept" required
                                   autocomplete="accept" value="APPROVED">
                            <label class="btn btn-outline-success flex-fill mb-1" for="accept">Annehmen</label>

                            <span class="m-1"></span>

                            <input type="radio" class="btn-check" name="mode" id="reject"
                                   autocomplete="reject" value="REJECTED">
                            <label class="btn btn-outline-danger flex-fill mb-1" for="reject">Ablehnen</label>
                        </div>
                        <textarea class="form-control mb-3" rows="8" id="mail2" required name="note"
                                  placeholder="Bitte Text eingeben"></textarea>
                        <div class="d-flex">

                            <button type="button" class="btn btn-secondary btn-block flex-fill m-1" data-bs-dismiss="modal">
                                Abbrechen
                            </button>
                            <button type="submit" class="btn btn-primary btn-block flex-fill m-1">Speichern</button>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>
</html>
