<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head"></head>
<body class="nav-fixed">
<nav th:insert="fragments :: topnav"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="fragments :: sidebar"></div>
    <div id="layoutSidenav_content">
        <main class="h-75">
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="file"></i></div>
                                    Deine Anträge
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <a class="btn btn-sm btn-light text-dark" href="/finance/create">
                                    <span class="me-1 mdi mdi-plus-circle"></span>
                                    Erstellen
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container px-4">

                <div class="card shadow-none mb-3" th:each="t:${tasks}">
                    <div class="card-header shadow-none" th:text="${t.getDescription()} + ' / ' + ${t.getDocumentDate().getGermanLongDate()}">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6">

                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Belegart:</td>
                                        <td th:text="${t.getDocumentType().getText()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Kasse:</td>
                                        <td th:text="${t.getCashRegisterType().getText()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Person:</td>
                                        <td th:text="${t.getCreatorUser().getName()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Kostenstelle:</td>
                                        <td th:text="${t.getCostCenter()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Betrag:</td>
                                        <td th:text="${t.getValue()} + ' €'"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-6">
                                <img th:src="${t.getUrl().get()}" class="img-fluid"
                                     th:if="${!t.getUrl().isEmpty()} and ${!t.getUrl().get().endsWith('.pdf')}">
                                <embed name="plugin"
                                       th:src="${t.getUrl().get()}"
                                       type="application/pdf" class="w-100 h-100 mb-3"
                                       th:if="${!t.getUrl().isEmpty()} and ${t.getUrl().get().endsWith('.pdf')}">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form form class="was-validated" th:method="post" th:action="@{/finance/check}">
                            <input name="id" th:value="${t.getId()}" readonly class="d-none invisible">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Kommentar"  name="note">
                                <button class="btn btn-primary" type="submit" name="action" value="accept">Akzeptieren</button>
                                <button class="btn btn-danger" type="submit"  name="action" value="reject">Ablehnen</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </main>
        <footer th:insert="fragments :: footer"></footer>
    </div>
</div>
<div th:insert="fragments :: script"></div>
</body>
</html>
