<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments :: html_head"></head>
<body class="nav-fixed">
<nav th:insert="fragments :: topnav"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="fragments :: sidebar"></div>
    <div id="layoutSidenav_content">
            <main class="h-75">
                <form class="h-100" th:method="post" th:action="@{/finance/save}">
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-fluid px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="file"></i></div>
                                            Information
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <a class="btn btn-sm btn-light text-dark" th:href="'/finance?q=transactions&t=' + ${entry.getCashRegisterType().toString()}">
                                            <span class="me-1 mdi mdi-arrow-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-fluid h-75">
                        <div class="card h-100">

                            <div class="card-body h-100">
                                <div class="row h-100">
                                    <div class="col-xl-8 col-12 h-100">

                                        <img th:src="${entry.getUrl().get()}" class="card-img img-fluid w-75 h-75"
                                             th:if="${!entry.getUrl().isEmpty()} and ${!entry.getUrl().get().endsWith('.pdf')}">
                                        <embed name="plugin"
                                               th:src="${entry.getUrl().get()}"
                                               type="application/pdf" class="w-100 h-100"
                                               th:if="${!entry.getUrl().isEmpty()} and ${entry.getUrl().get().endsWith('.pdf')}">

                                    </div>
                                    <div class="col-xl-4 col-12 h-100">

                                        <table class="table">
                                            <tbody>

                                            <tr>
                                                <td>Belegart:</td>
                                                <td th:text="${entry.getDocumentType().getText()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Kasse:</td>
                                                <td th:text="${entry.getCashRegisterType().getText()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Kostenstelle:</td>
                                                <td th:text="${entry.getCostCenter()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Beschreibung:</td>
                                                <td th:text="${entry.getDescription()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Betrag:</td>
                                                <td th:text="${entry.getValue()} + ' €'"></td>
                                            </tr>

                                            <tr>
                                                <td>Status:</td>
                                                <td><span th:class="${entry.getState().getTClass()}" th:text="${entry.getState().getText()}"></span></td>
                                            </tr>
                                            <tr>
                                                <td>Ersteller:</td>
                                                <td th:text="${entry.getCreatorUser().getReadName()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Bearbeiter:</td>
                                                <td>
                                                    <span th:if="${entry.getEditor().isPresent()}" th:text="${entry.getEditorUser().orElseThrow().getReadName()}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Datum:</td>
                                                <td th:text="${entry.getCreationDate().getGermanDate()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Vermerk:</td>
                                                <td th:text="${entry.getNote()}"></td>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </main>
        <footer th:insert="fragments :: footer"></footer>
    </div>
</div>
<div th:insert="fragments :: script"></div>
</body>



</html>
