<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>

            <div th:replace="~{person/fragments/personFragments :: header (${person})}"></div>
            <div class="container-fluid px-4">

                <div th:replace="~{person/fragments/personFragments :: nav(${step}, ${person})}"></div>
                <div class="card card-limit-height h-100">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-start gap-3">
                                <!-- Icon -->
                                <div class="bg-success-soft rounded-3 d-flex align-items-center justify-content-center"
                                     style="width: 48px; height: 48px;">
                                    <i data-feather="user" class="text-success fs-4"></i>
                                </div>

                                <!-- Text content -->
                                <div>
                                    <h5 class="mb-1 fw-semibold">
                                        <span th:text="${person.getName()}"></span>
                                        <span th:if="${person.getGender().toString().equals('MALE')}"
                                              class="mdi mdi-gender-male text-blue"></span>
                                        <span th:if="${person.getGender().toString().equals('FEMALE')}"
                                              class="mdi mdi-gender-female text-pink"></span>
                                        <span th:if="${person.getRank().toString().equals('OBERMESSDIENER')}"
                                              class="mdi mdi-shield-account text-red"></span>
                                        <span th:if="${person.getRank().toString().equals('LEITUNGSTEAM')}"
                                              class="mdi mdi-account-group text-yellow"></span>
                                        <span th:if="${person.getRank().toString().equals('MESSDIENER')}"
                                              class="mdi mdi-circle text-info"></span>
                                        <span th:if="${person.isActive()}"
                                              class="mdi mdi-check-circle text-success"></span>
                                        <span th:unless="${person.isActive()}"
                                              class="mdi mdi-account-alert text-danger"></span>
                                    </h5>
                                    <div class="d-flex flex-wrap gap-3 small text-muted">
                                        <div><span class="mdi mdi-circle text-green"></span> Letztes Update:
                                            10.04.2025
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body clamp-description p-2">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Type</th>
                                <th>Details</th>
                                <th>Informationen</th>
                                <th>Datum</th>
                                <th class="text-center">Konform</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="f : ${flags}">
                                <td></td>
                                <td>
                                    <a th:text="${f.getFlagType().getLabel()}"
                                       th:if="${f.getFlagType().isEditable()}"
                                       href="#"
                                       th:attr="data-bs-toggle='modal', data-bs-target='#editFlag'"
                                       th:attrappend=" data-id=${f.getId()}, data-type=${f.getFlagType().getLabel()}, data-details=${f.getFlagDetails()}, data-info=${f.getAdditionalInformation()}, data-date=${f.getFlagDate().getEnglishDate()}">
                                    </a>

                                    <span th:text="${f.getFlagType().getLabel()}" th:unless="${f.getFlagType().isEditable()}"></span>
                                </td>
                                <td th:text="${f.getFlagDetails()}"></td>
                                <td th:text="${f.getAdditionalInformation()}"></td>
                                <td th:text="${f.getFlagDate().getGermanDate()}"></td>
                                <td class="text-center">
                                    <span th:if="${f.isComplained()}" class="text-success mdi mdi-check-circle"></span>
                                    <span th:unless="${f.isComplained()}"
                                          class="text-danger mdi mdi-alert-circle"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>


<form th:method="post" th:action="@{/personal/flag}">
    <input type="hidden" id="personId" name="personId" th:value="${person.getId()}" />
    <input type="hidden" id="flagId" name="id" />
    <div class="modal fade" id="editFlag">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Flag bearbeiten</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row mb-3 align-items-center">
                        <label for="flagType" class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control" id="flagType" name="type" />
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="flagDetails" class="col-sm-2 col-form-label">Details</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="flagDetails" name="flagDetails" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="additionalInformation" class="col-sm-2 col-form-label">Informationen</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="additionalInformation" name="additionalInformation"  rows="5"></textarea>

                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label for="flagDate" class="col-sm-2 col-form-label">Datum</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="flagDate" name="flagDate" />
                        </div>
                    </div>



                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-success">Speichern</button>

                </div>

            </div>
        </div>
    </div>
</form>
<script>
    const editModal = document.getElementById('editFlag');
    editModal.addEventListener('show.bs.modal', function (event) {
        const trigger = event.relatedTarget;

        document.getElementById('flagId').value = trigger.getAttribute('data-id');
        document.getElementById('flagType').value = trigger.getAttribute('data-type');
        document.getElementById('flagDetails').value = trigger.getAttribute('data-details');
        document.getElementById('additionalInformation').value = trigger.getAttribute('data-info');
        document.getElementById('flagDate').value = trigger.getAttribute('data-date');
    });
</script>


<div th:insert="~{fragments :: script}"></div>
</body>
</html>
