<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments :: html_head}"></head>
<body class="nav-fixed">
<nav th:insert="~{fragments :: topnav}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:insert="~{fragments :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>

            <div th:replace="~{person/fragments/personFragments :: header (${person})}"></div>
            <div class="container-fluid px-4">

                <div th:replace="~{person/fragments/personFragments :: nav(${step}, ${person})}"></div>
                <div class="card card-limit-height h-100">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-start gap-3">
                                <!-- Icon -->
                                <div class="bg-secondary-soft rounded-3 d-flex align-items-center justify-content-center"
                                     style="width: 48px; height: 48px;">
                                    <i data-feather="git-pull-request" class="text-secondary fs-4"></i>
                                </div>

                                <!-- Text content -->
                                <div>
                                    <h5 class="mb-1 fw-semibold">Verknüpfte Workflows</h5>
                                    <div class="d-flex flex-wrap gap-3 small text-muted">
                                        <div th:text="${workflows.size()} + ' verknüpfte Workflows'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2" style="max-height: 300px; overflow-y: scroll;">
                        <div class="overflow-scroll" style="max-height: 500px!important;">
                            <table class="table table-sm table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Beschreibung</th>
                                    <th>Status</th>
                                    <th>Bearbeiter</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="w : ${workflows}">
                                    <td></td>
                                    <td>
                                        <a th:text="${w.getWorkflowType().getLabel()}"
                                           th:href="'/workflow?q=info&id=' + ${w.getWorkflowId()}"></a>
                                    </td>
                                    <td th:text="${w.getCMSState().getLabel()}"></td>
                                    <td th:text="${personHelper.getName(w.getOwnerId())}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- Weitere Timeline-Items -->
                        </div>
                    </div>
                </div>


            </div>

        </main>
        <footer th:insert="~{fragments :: footer}"></footer>
    </div>
</div>
<div th:insert="~{fragments :: script}"></div>
</body>

</html>
